@use "sass:map";

$main-color: #3EA1D1;
$text-color: #333;

$font-base: "Noto Serif JP", serif;

$header-height-sp: 60px;
$header-height-pc: 70px;


$breakpoints: (
    sm: "screen and (min-width: 600px)",
    md: "screen and (min-width: 768px)",
    lg: "screen and (min-width: 900px)",
    xl: "screen and (min-width: 1200px)",
);

@mixin mq($breakpoint: md) {
    @media #{map.get($breakpoints, $breakpoint)} {
        @content;
    }
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: $header-height-sp;

    @include mq(md) {
        scroll-padding-top: $header-height-pc;
    }
}

body {
    font-family: $font-base;
    color: $text-color;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 300;
}

.inner {
    padding-inline: 15px;

    @include mq(md) {
        max-width: calc(1200px + 40px * 2);
        margin-inline: auto;
        padding-inline: 40px;
    }
}

.heading {
    font-size: 30px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 27px;
    align-items: center;
    line-height: 100%;

    &::after {
        content: "";
        width: 60px;
        height: 1px;
        background: $main-color;
    }

    @include mq(md) {
        font-size: 40px;
        gap: 24px;
    }
}

.button {
    min-width: 158px;
    padding: calc(12px - 1px);
    border: 1px solid $main-color;
    background: #fff;
    color: $main-color;
    font-size: 14px;
    letter-spacing: 0.02px;
    display: inline-block;
    text-align: center;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
        color: #fff;
        background-color: $main-color;
    }
}

.section {

    &_head {}

    &_content {
        margin-top: 46px;

        @include mq(md) {
            margin-top: 64px;
        }
    }
}

@include mq(sm) {
    .hidden-sm {
        display: none;
    }
}

@include mq(md) {
    .hidden-md {
        display: none;
    }
}

@include mq(lg) {
    .hidden-lg {
        display: none;
    }
}

@include mq(xl) {
    .hidden-xl {
        display: none;
    }
}


// header
.header {
    width: 100%;
    height: $header-height-sp;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 20;

    @include mq(md) {
        height: $header-height-pc;
    }

    &_inner {
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_logo {

        a {
            @include mq(md) {
                transition: opacity 0.3s;

                &:hover {
                    opacity: 0.6;
                }
            }

            img {
                width: 120px;
                display: block;
            }
        }
    }

    &_icon {
        @include mq(md) {
            display: none;
        }
    }

    &_nav {
        background: $main-color;
        width: 270px;
        height: calc(100% - $header-height-sp);
        position: fixed;
        right: 0;
        top: $header-height-sp;
        padding: calc(40px - 8px) 15px;
        transform: translateX(100%);
        transition: transform 0.4s;

        &.is-checked {
            transform: translateX(0);
        }

        @include mq(md) {
            background: transparent;
            width: auto;
            height: auto;
            position: static;
            padding: 0;
            transform: translateX(0);
        }
    }

    &_lists {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: calc(30px - 8px * 2);

        @include mq(md) {
            flex-direction: row;
            align-items: center;
            gap: 47px;
        }
    }

    &_list {}

    &_link {
        display: inline-block;
        padding-block: 8px;
        color: #fff;
        font-size: 18px;

        @include mq(md) {
            color: $text-color;
            font-size: 16px;
            transition: color 0.3s;

            &:hover {
                color: $main-color;
            }
        }
    }
}

.drawer-icon {
    width: 30px;
    height: 18px;
    position: relative;

    &.is-checked {
        .drawer-icon_bar {

            &:nth-child(1),
            &:nth-child(3) {
                top: 9px;
            }

            &:nth-child(1) {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }

    &_bar {
        position: absolute;
        width: 30px;
        height: 2px;
        background: $main-color;
        left: 0;
        transition: top 0.4s, transform 0.4s;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 8px;
        }

        &:nth-child(3) {
            top: 16px;
        }
    }
}


.main {
    display: grid;
    gap: 96px;

    @include mq(md) {
        gap: 160px;
    }
}


// mv
.mv {

    &_inner {
        position: relative;
    }

    &_img {
        @include mq(md) {
            max-width: 990px;
            margin-left: auto;
            display: block;
        }

        img {}
    }

    &_message {
        margin-top: 30px;

        @include mq(md) {
            position: absolute;
            inset-block: 0;
            margin-block: auto;
            padding: 80px 40px;
            background: #fff;
            height: fit-content;
        }
    }

    &_title {
        font-size: 26px;
        font-weight: 600;
        line-height: 1.7;

        br {
            display: none;

            @include mq(md) {
                display: inline;
            }
        }
    }

    &_text {
        margin-top: 16px;
    }
}


// concept
.concept {

    &_inner {}

    &_content {
        display: flex;
        flex-direction: column;
        gap: 34px;

        @include mq(md) {
            flex-direction: row;
            align-items: center;
            gap: calc(80px / 1200px * 100%);
        }
    }

    &_img {
        text-align: center;

        @include mq(md) {
            width: calc(600px / 1200px * 100%);
            flex-shrink: 0;
        }

        img {
            width: 100%;
        }
    }

    &_message {
        @include mq(md) {
            flex-grow: 1;
        }
    }

    &_title {
        font-size: 20px;
        font-weight: 600;

        @include mq(md) {
            font-size: 18px;
        }

        @include mq(lg) {
            font-size: 20px;
        }
    }

    &_text {
        margin-top: 21px;

        @include mq(md) {
            margin-top: 40px;
        }
    }
}


// feature
.feature {

    &_inner {}

    &_cards {
        display: flex;
        flex-direction: column;
        gap: 48px;

        @include mq(md) {
            flex-direction: row;
            gap: 40px;
        }

        @include mq(lg) {
            gap: 60px;
        }

        @include mq(xl) {
            gap: 90px;
        }
    }

    &_card {
        @include mq(md) {
            flex: 1;
        }
    }
}

.feature-card {
    background: #fff;
    box-shadow: 3px 3px 15px 0 rgba(96, 96, 96, 0.16);

    &_img {
        text-align: center;

        img {
            width: 100%;
        }
    }

    &_body {
        font-weight: 600;
        text-align: center;
        padding: 26px;
    }
}


// about
.about {
    background: url(../img/sp/about.png) no-repeat top center / cover;
    position: relative;
    padding-block: 180px 50px;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.12);
        z-index: 1;
    }


    @include mq(md) {
        background-image: url(../img/about.png);
        padding-block: 123px 122px;
    }

    &_inner {}

    &_content {
        position: relative;
        z-index: 2;
        color: #fff;

        @include mq(md) {}

        @include mq(md) {
            width: calc(600px / 1200px * 100%);
        }
    }

    &_title {
        font-size: 20px;
        font-weight: 600;

        @include mq(md) {
            font-size: 22px;
        }
    }

    &_text {
        margin-top: 24px;
        font-size: 14px;
        font-weight: 600;

        @include mq(md) {
            margin-top: 23px;
            font-size: 16px;
        }
    }
}


// products
.products {

    &_inner {
        padding-inline: 56px;

        @include mq(md) {
            max-width: calc(940px + 40px * 2);
            padding-inline: 40px;
        }
    }

    &_cards {
        display: flex;
        flex-direction: column;
        gap: 41px;

        @include mq(md) {
            flex-direction: row;
            gap: 50px;
        }

        @include mq(lg) {
            flex-direction: row;
            gap: 80px;
        }
    }

    &_card {
        flex: 1;
    }

    &_button {
        text-align: center;
        margin-top: 42px;

        @include mq(md) {
            margin-top: 43px;
        }
    }
}

.products-card {
    @include mq(md) {
        &:hover {
            .products-card_img {

                img {
                    transform: scale(1.1);
                }
            }
        }
    }

    &_img {
        text-align: center;

        @include mq(md) {
            overflow: hidden;

            img {
                transition: transform 0.5s;
            }
        }

        img {
            width: 100%;
        }
    }

    &_body {
        margin-top: 20px;

        @include mq(md) {
            margin-top: 18px;
        }
    }

    &_title {
        font-size: 14px;
    }

    &_price {
        margin-top: 10px;
        font-size: 14px;
        color: #989898;
    }
}


// news
.news {

    &_inner {
        @include mq(md) {
            max-width: calc(1040px + 40px * 2);
            padding-inline: 40px;
        }
    }

    &_cards {
        display: flex;
        flex-direction: column;
        gap: 27px;

        @include mq(md) {
            gap: 23px;
        }
    }

    &_card {
        padding-bottom: 28px;
        border-bottom: 1px solid #e0e0e0;

        @include mq(md) {
            padding-bottom: 23px;
        }
    }

    &_button {
        margin-top: 42px;
        text-align: center;

        @include mq(md) {
            margin-top: 44px;
        }
    }
}

.news-card {
    @include mq(md) {
        display: flex;
        align-items: flex-start;
        gap: 40px;

        &:hover {
            .news-card_img {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }

    &_img {
        @include mq(md) {
            width: 260px;
            flex-shrink: 0;
            overflow: hidden;

            img {
                transition: transform 0.5s;
            }
        }
    }

    &_body {
        margin-top: 16px;

        @include mq(md) {
            flex-grow: 1;
            margin-top: 0;
        }
    }

    &_time {
        font-size: 14px;
        display: block;
    }

    &_title {
        font-weight: 600;
        margin-top: 10px;

        @include mq(md) {
            font-size: 18px;
            margin-top: 16px;
        }
    }

    &_text {
        font-size: 14px;
        color: #888;
        margin-top: 14px;

        @include mq(md) {
            margin-top: 10px;
        }
    }
}


// concept2
.concept2 {

    &_inner {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(md) {
            flex-direction: row-reverse;
            align-items: center;
            gap: 40px;
        }

        @include mq(lg) {
            gap: 60px;
        }

        @include mq(xl) {
            gap: 80px;
        }
    }

    &_img {
        text-align: center;

        @include mq(md) {
            width: calc(600px / 1200px * 100%);
            flex-shrink: 0;
        }

        img {
            width: 100%;
        }
    }

    &_message {
        @include mq(md) {
            flex-grow: 1;
        }
    }

    &_title {
        font-size: 20px;
        font-weight: 600;

        @include mq(md) {
            font-size: 22px;
        }

        @include mq(lg) {
            font-size: 25px;
        }

        @include mq(xl) {
            font-size: 28px;
        }
    }

    &_text {
        font-size: 14px;
        margin-top: 22px;

        @include mq(md) {
            margin-top: 36px;
            font-size: 16px;
        }
    }
}


// contact
.contact {
    background: url(../img/contact.png) no-repeat center center / cover;
    padding-block: 56px;

    @include mq(md) {
        padding-block: 80px;
    }

    &_inner {
        @include mq(md) {
            max-width: calc(510px + 40px * 2);
            padding-inline: 40px;
        }
    }

    &_head {
        color: $main-color;
    }

    &_form {}

    &_text {
        font-size: 14px;
        font-weight: 600;
        text-align: center;

        .is-required {
            color: #e7728e;
        }
    }

    &_items {
        margin-top: 28px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(md) {
            padding-top: 19px;
        }
    }

    &_item {}

    &_footer {
        margin-top: 28px;

        @include mq(md) {
            margin-top: 32px;
        }
    }

    &_privacy {
        text-align: center;
    }
}

.contact-control {
    display: flex;
    flex-direction: column;
    gap: 3px;

    @include mq(md) {
        flex-direction: row;
        gap: 10px;
    }

    &_head {
        @include mq(md) {
            width: 180px;
            flex-shrink: 0;
        }
    }

    &_input {
        @include mq(md) {
            flex-grow: 1;
        }
    }

    &_radios {
        display: flex;
        align-items: center;
    }

}

.form-label {
    display: inline-flex;
    background: rgba($main-color, 0.7);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    gap: 4px;
    align-items: center;
    padding: 4px 16px;

    @include mq(md) {
        width: 100%;
        justify-content: center;
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 4px;
        padding-inline: 4px;
        clip-path: polygon(0 0, 97% 0, 100% 50%, 97% 100%, 0 100%);
    }

    &_required {
        color: #e7728e;
        font-size: 10px;
        font-weight: 600;

        @include mq(md) {
            font-size: 12px;
        }
    }
}

.form-text {
    width: 100%;
    height: 40px;
    border: 0;
    font-size: 16px;
    background: #fff;
    box-shadow: 5px 6px 16px 0 rgba(96, 96, 96, 0.16);

    &:focus {
        outline: $main-color auto 1px;
        box-shadow: 5px 6px 16px 0 rgba($main-color, 0.16);
    }
}

.form-radio {
    position: relative;

    &_input {
        width: 1px;
        height: 1px;
        position: absolute;
        clip: rect(0, 0, 0, 0);
        overflow: hidden;

        &:checked + .form-radio_text {
            background-color: $main-color;
            color: #fff;
        }

        &:focus + .form-radio_text {
            outline: $main-color auto 1px;
            box-shadow: 5px 6px 16px 0 rgba($main-color, 0.32);
        }
    }

    &_text {
        letter-spacing: 0.026px;
        color: $main-color;
        border: 1px solid #fff;
        background: #fff;
        width: 80px;
        height: 40px;
        display: grid;
        place-items: center;
    }
}

.form-textarea {
    width: 100%;
    height: 122px;
    background: #fff;
    box-shadow: 5px 6px 16px 0 rgba(96, 96, 96, 0.16);
    resize: vertical;
    font-size: 16px;
    border: 0;

    &:focus {
        outline: $main-color auto 1px;
        box-shadow: 5px 6px 16px 0 rgba($main-color, 0.16);
    }
}

.form-checkbox {
    position: relative;

    &_input {
        width: 1px;
        height: 1px;
        position: absolute;
        clip: rect(0, 0, 0, 0);
        overflow: hidden;

        &:checked+.form-checkbox_text {
            &::after {
                opacity: 1;
            }
        }

        &:focus+.form-checkbox_text {
            &::before {
                outline: $main-color auto 1px;
                box-shadow: 5px 6px 16px 0 rgba($main-color, 0.32);
            }
        }
    }

    &_text {
        font-size: 16px;
        padding-left: 30px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            transform: translateY(2px);
            left: 0;
            inset-block: 0;
            margin-block: auto;
        }

        &::before {
            width: 22px;
            height: 22px;
            background: #fff;
            border: 1px solid $main-color;
        }

        &::after {
            opacity: 0;
            width: 19.414px;
            height: 14.621px;
            left: 1.29px;
            background: url(../img/check-icon.png) no-repeat center center / contain;
        }

        a {
            text-decoration: underline;
            color: $main-color;
        }
    }
}

.contact_submit {
    margin-top: 24px;
    text-align: center;

    @include mq(md) {
        margin-top: 44px;
    }

    button {}
}


// footer
.footer {
    padding-block: 40px 7px;
    background: #f7f7f7;

    @include mq(md) {
        padding-bottom: 14px;
    }

    &_inner {}

    &_logo {
        a {
            img {
                width: 120px;
                display: block;
                margin-inline: auto;

                @include mq(md) {
                    transition: opacity 0.3s;

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    &_menu {
        &-items {
            margin-top: 22px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            @include mq(md) {
                flex-direction: row;
                justify-content: center;
                gap: 32px;
            }
        }

        &-item {
            font-size: 12px;
        }

        &-link {
            @include mq(md) {
                transition: opacity 0.3s;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    &_sns {
        &-items {
            margin-top: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;

            @include mq(md) {
                margin-top: 16px;
            }
        }

        &-item {}

        &-link {
            @include mq(md) {
                transition: opacity 0.3s;

                &:hover {
                    opacity: 0.6;
                }
            }

            img {}
        }
    }

    &_copyright {
        font-size: 12px;
        margin-top: 24px;
        text-align: center;

        @include mq(md) {
            margin-top: 28px;
        }

        small {
            color: #888;
            font-size: inherit;
        }
    }
}