@use "sass:map";

// ================================================================================
// font
// ================================================================================
$font-family-ja1: "Noto Sans JP", sans-serif;
$font-family-ja2: "Kiwi Maru", sans-serif;
$font-family-en1: "Courgette", sans-serif;
$font-family-en2: "Josefin Sans", sans-serif;
$font-size-pc-base: 16px;
$font-size-sp-base: 14px;
$line-height-base: 160%;


// ================================================================================
// color
// ================================================================================
$font-color: #4A3636;
$main-color: #9ED0E0;
$sub-color-dblue: #67B0C7;
$sub-color-bgray: #CCE1E4;
$sub-color-lblue: #E9F6F8;
$accent-color-red: #CE2073;
$accent-color-yellow: #FFEE56;
$bw-color-blown: #4A3636;
$bw-color-dgray: #ccc;
$bw-color-gray: #f5f5f5;
$bw-color-white: #fff;


// ================================================================================
// responsive
// ================================================================================
$breakpoints: (
    1280: "screen and (min-width: 1280px)",
    980: "screen and (min-width: 980px)",
    pc: "screen and (min-width: 768px)",
    sp: "screen and (max-width: 767px)",
);

@mixin mq($breakpoint: pc) {
    @media #{map.get($breakpoints, $breakpoint)} {
        @content;
    }
}


// ================================================================================
// contents
// ================================================================================


// ========================================
// mv
// ========================================
.mv {
    margin-top: 60px;
    position: relative;
    // height: 161.7vw;
    // max-height: 800px;
    // max-height: 607px;
    // height: max(100vw, 607px);

    @include mq(1280) {
        margin-top: 100px;
    }

    // @include mq(pc) {
    //     height: 77.2vw;
    //     max-height: none;
    // }
}

.mv-slider {
    margin-left: 40px;
    // position: absolute;
    // right: 0;
    // width: 89%;
    z-index: -1;

    @include mq(pc) {
        margin-left: 90px;
    }

    img {
        width: 100%;
        max-height: 800px;
        object-fit: cover;

        @include mq(pc) {
            max-height: none;
        }
    }

}

.mv-txt {
    position: absolute;
    left: 20px;
    bottom: 18px;
    z-index: 2;

    @include mq(pc) {
        left: 50px;
        bottom: 60px;
    }
}

.mv-txt_en {
    span {
        display: inline-block;
        background-color: #fff;
        // font-size: 40px;
        font-size: clamp(20px, 10.7vw, 60px);
        font-weight: 500;
        line-height: 100%;
        color: #023E78;
        padding-block: 4px;

        @include mq(pc) {
            padding-block: 6px;
        }

        &:nth-of-type(n+2) {
            margin-top: 8px;

            @include mq(pc) {
                margin-top: 16px;
            }
        }

        @include mq(pc) {
            font-size: clamp(20px, 4.7vw, 90px);
        }
    }
}

.mv-txt_ja {
    span {
        display: inline-block;
        background-color: #023E78;
        // font-size: 16px;
        font-size: clamp(1px, 4.3vw, 20px);
        font-weight: 700;
        line-height: 100%;
        color: #fff;
        // margin-top: 8px;
        margin-top: 16px;
        padding: 4px 0.25px;

        // @include mq(pc) {
        //     margin-top: 16px;
        // }

        @include mq(pc) {
            font-size: clamp(20px, 1.5vw, 25px);
        }
    }
}


// ========================================
// about
// ========================================
#about {
    margin-top: 60px;
    // background: linear-gradient(transparent 15%, #edf3f8 15%, #edf3f8 100%, transparent 100%);
    // background: linear-gradient(-170deg, transparent 6%, #edf3f8 6%, #edf3f8 94%, transparent 94%);
    background: linear-gradient(-170deg, #fff 17%, #edf3f8 17%, #edf3f8 93%, #fff 93%);
    // transform: skewY(10deg);
    // padding: 62px 0;
    z-index: -2;

    @include mq(pc) {
        margin-top: 150px;
        // background: linear-gradient(-173deg, transparent 32%, #edf3f8 32%, #edf3f8 81%, transparent 81%);
        background: linear-gradient(-173deg, transparent 32%, #edf3f8 32%, #edf3f8 81%, transparent 81%);
        // max-width: calc(1280px - 32px);
        // margin-inline: auto;
    }
}

.about-inner {
    padding: 0 5.4% 135px 5.4%;
    margin-inline: auto;
    // transform: skewY(-10deg);

    @include mq(pc) {
        padding: 0 40px 243px 40px;
        // max-width: calc(1280px - 32px);
        max-width: calc(1100px + 80px);
        position: relative;
        z-index: 2;
    }
}

// .about-ttl_wrap {
//     @include mq(pc) {
//         padding-top: 104px;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//     }
// }

.about-ttl {
    @include mq(pc) {
        padding-top: 110px;
    }
}

.about-flex {
    display: flex;
    flex-direction: column;

    @include mq(pc) {
        margin-top: 31px;
        flex-direction: row;
        gap: 40px;
        justify-content: space-between;
        align-items: center;
    }
}

.about-txt {
    width: 100%;
    margin-top: 70px;

    @include mq(pc) {
        margin-top: 0;
        // width: 34.47%;
        width: clamp(300px, 29.6vw, 378px);
    }
}

.about-bottom {
    margin-top: 30px;
}

.about-img {
    position: relative;
    width: 100%;
    margin-top: 30px;
    z-index: 1;

    @include mq(pc) {
        margin-top: 0;
        // width: 61.9%;
        width: clamp(300px, 53.2vw, 681px);
    }

    .about-img_main {
        padding-top: 40px;
        width: 100%;
        object-fit: cover;

        @include mq(pc) {
            padding-top: 0;
            width: clamp(300px, 53.2vw, 681px);
        }
    }

    .about-img_bg-sp {
        position: absolute;
        top: 0;
        right: -20px;
        width: 88.2%;
        height: 96vw;
        background: url(../img/front-page/about/sp/about-bg.png) no-repeat center center / cover;
        background-size: cover;
        background-position: center;
        // background-color: rgba(2, 62, 120, 0.8);
        background-blend-mode: multiply;
        padding-left: 20px;
        z-index: -1;
    }
}

.about-btn {
    margin-top: 41px;
    z-index: 2;

    @include mq(pc) {
        // display: none;
        margin-top: 0;
        position: absolute;
        top: 17%;
        right: 3.2%;
    }
}

.about-img_bg-pc-wrap {
    position: relative;
}

.about-img_bg-pc {
    @include mq(pc) {
        position: absolute;
        top: 0;
        right: 0;
        width: 39.07%;
        min-width: 344px;
        height: clamp(550px, 62.5vw, 850px);
        background: url(../img/front-page/about/sp/about-bg.png) no-repeat center center / cover;
        background-size: cover;
        background-position: center;
        // background-color: rgba(2, 62, 120, 0.8);
        background-blend-mode: multiply;
        object-fit: cover;
        z-index: 1;
    }
}


// ========================================
// enter
// ========================================
.service {
    // margin: 0 0 100px;
    // padding: 62px 0;
    margin-top: 100px;
    // background: linear-gradient(transparent 50%, #edf3f8 50%);
    // background: linear-gradient(transparent 50%, #000 50%);
    // background: linear-gradient(transparent 15%, #edf3f8 15%, #edf3f8 100%, transparent 100%);
    // transform: skewY(10deg);
    background: linear-gradient(-170deg, transparent 6%, #edf3f8 6%, #edf3f8 94%, transparent 94%);
    // position: relative;

    @include mq(pc) {
        margin-top: 125px;
        // background: linear-gradient(-170deg, transparent 6%, #edf3f8 6%, #edf3f8 94%, transparent 94%);
        background: linear-gradient(-170deg, #fff 50%, #edf3f8 50%, #edf3f8 92%, #fff 92%);
    }
}

.service-inner {
    padding: 0 5.4% 75px 5.4%;
    margin-inline: auto;
    // padding-inline: 20px;
    // padding-bottom: 75px;
    // transform: skewY(-10deg);

    @include mq(pc) {
        // padding-inline: 7.04%;
        padding: 0 40px 110px 40px;
        max-width: calc(1100px + 80px);
        position: relative;
    }
}

// .service-ttl {
//     padding-inline: 5.4%;

//     @include mq(pc) {
//         padding-inline: 7%;
//     }
// }

.service-list {
    margin-top: 67px;
    display: grid;
    gap: 75px;

    @include mq(pc) {
        margin-top: 85px;
        display: flex;
        justify-content: space-between;
        gap: 70px;
    }
}

.service-item {
    @include mq(pc) {
        width: 25vw;
        max-width: 320px;

        &:nth-of-type(2) {
            margin-top: 62px;
        }

        &:nth-of-type(3) {
            margin-top: 120px;
        }
    }
}

.service_img-group {
    position: relative;
}

.service-item_num {
    position: absolute;
    top: -50px;
    right: 0;
    width: 103px;
    height: 123px;
    z-index: 1;
}

.service-item_img {
    text-align: right;

    img {
        width: 85.3vw;
        // height: max(427px, 90vw);
        object-fit: cover;

        @include mq(pc) {
            width: 100%;
        }
    }
}

.service-item_img-ttl {
    position: absolute;
    left: 0;
    bottom: 33px;

    @include mq(pc) {
        left: -32px;
        bottom: 30px;
    }

    span {
        // position: absolute;
        // left: 0;
        // bottom: 33px;
        display: inline-block;
        font-size: clamp(16px, 7.5vw, 32px);
        font-weight: 700;
        line-height: 1;
        color: #023E78;
        background-color: #fff;
        padding-block: 6.5px;

        @include mq(pc) {
            font-size: clamp(16px, 2.5vw, 28px);
        }

        &:nth-of-type(2) {
            margin-top: 8px;
        }
    }
}

.service-item_txt {
    margin-top: 14px;
    margin-left: 15px;

    @include mq() {
        margin-top: 18px;
        margin-left: 0;
    }
}

.service-btn {
    margin-top: 34px;

    @include mq(pc) {
        margin-top: 0;
        position: absolute;
        // top: 10%;
        // right: 7.04%;
        top: 4.2%;
        right: 3.2%;
    }
}


// ========================================
// case
// ========================================
.case {
    margin-top: 90px;
    // position: relative;
    // top: 0;
    // left: 0;
    content: "";
    width: 100%;
    // height: 2585px;
    background: url(../img/front-page/case/sp/case-bg.png) no-repeat center center / cover;
    // background-image: url(../img/front-page/case/sp/bg.png);
    // background-size: cover;
    // background-position: center;
    // background-color: rgba(2, 62, 120, 0.8);
    // background-blend-mode: multiply;
    // padding-left: 20px;
    z-index: -1;

    @include mq(pc) {
        margin-top: 0;
        background-image: url(../img/front-page/case/pc/case-bg.png);
    }
}

.case-inner {
    padding: 60px 5.4% 56px 5.4%;
    margin-inline: auto;

    @include mq(pc) {
        padding: 107px 40px 129px 40px;
        max-width: calc(1100px + 80px);
        position: relative;
    }
}

.case-ttl {
    p {
        color: #fff;
    }
}

.case-list {
    margin-top: 47px;
    display: grid;
    gap: 48px;

    @include mq(pc) {
        margin-top: 82px;
        display: flex;
        gap: 70px 0;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.case-item {
    width: 100%;

    @include mq(pc) {
        width: 30%;
        max-width: 320px;
        // margin-top: 72px;
    }
}

.case-item_link {
    &:hover {
        .case-item_tag-icon-path {
            fill: #FFF400;
            transform: translateX(10px);
        }
    }
}

.case-item_img {
    // position: relative;
    padding: 25px 67px;
    text-align: center;
    // content: "";
    // width: 100%;
    // height: 251px;
    background-color: #fff;

    @include mq(pc) {
        padding: 20px 60px;
    }

    img {
        max-height: 400px;

        @include mq(pc) {
            // max-width: 200px;
            max-width: 100%;
        }
    }
}

.case-item_nm {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.case-item_tag {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq(pc) {
        margin-top: 13px;
        gap: 10px;
    }
}

.case-item_tag-nm {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 15px;
    line-height: 143%;

    @include mq(pc) {
        padding-block: 5px;
    }
}

.case-item_tag-icon {
    width: 30px;
    height: 30px;

    svg {
        overflow: visible;
    }
}

.case-item_tag-icon-path {
    fill: #fff;
    transition: all 0.5s;
}

.case-btn {
    margin-top: 64px;

    @include mq(pc) {
        margin-top: 0;
        position: absolute;
        top: 13.6%;
        right: 3.2%;
    }
}

// ========================================
// news
// ========================================
.news {
    // margin: 0 0 122px;
    margin-top: 63px;
    margin-bottom: 186px;
    // transform: skewY(10deg);
    // padding: 62px 0;
    // background: linear-gradient(transparent 28%, #edf3f8 28%);
    background: linear-gradient(-170deg, transparent 6%, #edf3f8 6%, #edf3f8 94%, transparent 94%);
    position: relative;


    @include mq(pc) {
        margin-top: 165px;
        margin-bottom: 157px;
        background: linear-gradient(-170deg, #fff 51%, #edf3f8 51%, #edf3f8 88%, #fff 88%);
    }
}

.news-inner {
    padding-inline: 5.4%;
    margin-inline: auto;
    // padding-inline: 20px;
    // transform: skewY(-10deg);

    @include mq(pc) {
        // padding-inline: 7.04%;
        // padding: 0 40px 160px 40px;
        padding-inline: 40px;
        max-width: calc(1100px + 80px);
        position: relative;
    }
}

.news-lists {
    margin-top: 60px;
    padding: 40px 20px 47px;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 3px 12px 0 #00000029;
    margin-inline: auto;

    @include mq(pc) {
        margin-top: 81px;
        max-width: 768px;
        padding: 87px 41px 40px 40px;
    }
}

.news-link {
    display: grid;
    gap: 19px;
    padding-bottom: 29px;
    border-bottom: 1px solid #ddd;

    @include mq(pc) {
        padding-bottom: 31px;
    }

    &:nth-of-type(n+2) {
        margin-top: 17px;

        @include mq(pc) {
            margin-top: 27px;
        }
    }
}

.news-link_meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.news-link_label {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 12px;
    line-height: 116%;
    color: #E61264;
    padding: 5px 19px;
    border: 1px solid #E61264;

    @include mq(pc) {
        font-size: 14px;
        padding: 7px 23px;
    }
}

.news-link_date {
    font-size: 14px;
    color: #888;
}

.news-link_ttl {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 121%;

    @include mq(pc) {
        font-size: 16px;
    }
}

.news-btn {
    margin-top: 34px;

    @include mq(pc) {
        margin-top: 0;
        position: absolute;
        top: 5.5%;
        right: 3.2%;
    }
}