html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}
@media screen and (min-width: 768px) {
  html {
    scroll-padding-top: 70px;
  }
}

body {
  font-family: "Noto Serif JP", serif;
  color: #333;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 300;
}

.inner {
  padding-inline: 15px;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 40px;
  }
}

.heading {
  font-size: 30px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 100%;
}
.heading::after {
  content: "";
  width: 60px;
  height: 1px;
  background: #3EA1D1;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
    gap: 24px;
  }
}

.button {
  min-width: 158px;
  padding: 11px;
  border: 1px solid #3EA1D1;
  background: #fff;
  color: #3EA1D1;
  font-size: 14px;
  letter-spacing: 0.02px;
  display: inline-block;
  text-align: center;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
.button:hover {
  color: #fff;
  background-color: #3EA1D1;
}

.section_content {
  margin-top: 46px;
}
@media screen and (min-width: 768px) {
  .section_content {
    margin-top: 64px;
  }
}

@media screen and (min-width: 600px) {
  .hidden-sm {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hidden-md {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .hidden-lg {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hidden-xl {
    display: none;
  }
}
.header {
  width: 100%;
  height: 60px;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .header {
    height: 70px;
  }
}
.header_inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header_logo a {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .header_logo a:hover {
    opacity: 0.6;
  }
}
.header_logo a img {
  width: 120px;
  display: block;
}
@media screen and (min-width: 768px) {
  .header_icon {
    display: none;
  }
}
.header_nav {
  background: #3EA1D1;
  width: 270px;
  height: calc(100% - 60px);
  position: fixed;
  right: 0;
  top: 60px;
  padding: 32px 15px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.header_nav.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .header_nav {
    background: transparent;
    width: auto;
    height: auto;
    position: static;
    padding: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.header_lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 14px;
}
@media screen and (min-width: 768px) {
  .header_lists {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 47px;
  }
}
.header_link {
  display: inline-block;
  padding-block: 8px;
  color: #fff;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .header_link {
    color: #333;
    font-size: 16px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .header_link:hover {
    color: #3EA1D1;
  }
}

.drawer-icon {
  width: 30px;
  height: 18px;
  position: relative;
}
.drawer-icon.is-checked .drawer-icon_bar:nth-child(1), .drawer-icon.is-checked .drawer-icon_bar:nth-child(3) {
  top: 9px;
}
.drawer-icon.is-checked .drawer-icon_bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.drawer-icon.is-checked .drawer-icon_bar:nth-child(2) {
  display: none;
}
.drawer-icon.is-checked .drawer-icon_bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.drawer-icon_bar {
  position: absolute;
  width: 30px;
  height: 2px;
  background: #3EA1D1;
  left: 0;
  -webkit-transition: top 0.4s, -webkit-transform 0.4s;
  transition: top 0.4s, -webkit-transform 0.4s;
  transition: top 0.4s, transform 0.4s;
  transition: top 0.4s, transform 0.4s, -webkit-transform 0.4s;
}
.drawer-icon_bar:nth-child(1) {
  top: 0;
}
.drawer-icon_bar:nth-child(2) {
  top: 8px;
}
.drawer-icon_bar:nth-child(3) {
  top: 16px;
}

.main {
  display: grid;
  gap: 96px;
}
@media screen and (min-width: 768px) {
  .main {
    gap: 160px;
  }
}

.mv_inner {
  position: relative;
}
@media screen and (min-width: 768px) {
  .mv_img {
    max-width: 990px;
    margin-left: auto;
    display: block;
  }
}
.mv_message {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .mv_message {
    position: absolute;
    inset-block: 0;
    margin-block: auto;
    padding: 80px 40px;
    background: #fff;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.mv_title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.7;
}
.mv_title br {
  display: none;
}
@media screen and (min-width: 768px) {
  .mv_title br {
    display: inline;
  }
}
.mv_text {
  margin-top: 16px;
}

.concept_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 34px;
}
@media screen and (min-width: 768px) {
  .concept_content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6.6666666667%;
  }
}
.concept_img {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .concept_img {
    width: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
.concept_img img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .concept_message {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.concept_title {
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .concept_title {
    font-size: 18px;
  }
}
@media screen and (min-width: 900px) {
  .concept_title {
    font-size: 20px;
  }
}
.concept_text {
  margin-top: 21px;
}
@media screen and (min-width: 768px) {
  .concept_text {
    margin-top: 40px;
  }
}

.feature_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
}
@media screen and (min-width: 768px) {
  .feature_cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
  }
}
@media screen and (min-width: 900px) {
  .feature_cards {
    gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .feature_cards {
    gap: 90px;
  }
}
@media screen and (min-width: 768px) {
  .feature_card {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.feature-card {
  background: #fff;
  -webkit-box-shadow: 3px 3px 15px 0 rgba(96, 96, 96, 0.16);
          box-shadow: 3px 3px 15px 0 rgba(96, 96, 96, 0.16);
}
.feature-card_img {
  text-align: center;
}
.feature-card_img img {
  width: 100%;
}
.feature-card_body {
  font-weight: 600;
  text-align: center;
  padding: 26px;
}

.about {
  background: url(../img/sp/about.png) no-repeat top center/cover;
  position: relative;
  padding-block: 180px 50px;
}
.about::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.12);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .about {
    background-image: url(../img/about.png);
    padding-block: 123px 122px;
  }
}
.about_content {
  position: relative;
  z-index: 2;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .about_content {
    width: 50%;
  }
}
.about_title {
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about_title {
    font-size: 22px;
  }
}
.about_text {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about_text {
    margin-top: 23px;
    font-size: 16px;
  }
}

.products_inner {
  padding-inline: 56px;
}
@media screen and (min-width: 768px) {
  .products_inner {
    max-width: 1020px;
    padding-inline: 40px;
  }
}
.products_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 41px;
}
@media screen and (min-width: 768px) {
  .products_cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
  }
}
@media screen and (min-width: 900px) {
  .products_cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 80px;
  }
}
.products_card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.products_button {
  text-align: center;
  margin-top: 42px;
}
@media screen and (min-width: 768px) {
  .products_button {
    margin-top: 43px;
  }
}

@media screen and (min-width: 768px) {
  .products-card:hover .products-card_img img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.products-card_img {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .products-card_img {
    overflow: hidden;
  }
  .products-card_img img {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
}
.products-card_img img {
  width: 100%;
}
.products-card_body {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .products-card_body {
    margin-top: 18px;
  }
}
.products-card_title {
  font-size: 14px;
}
.products-card_price {
  margin-top: 10px;
  font-size: 14px;
  color: #989898;
}

@media screen and (min-width: 768px) {
  .news_inner {
    max-width: 1120px;
    padding-inline: 40px;
  }
}
.news_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 27px;
}
@media screen and (min-width: 768px) {
  .news_cards {
    gap: 23px;
  }
}
.news_card {
  padding-bottom: 28px;
  border-bottom: 1px solid #e0e0e0;
}
@media screen and (min-width: 768px) {
  .news_card {
    padding-bottom: 23px;
  }
}
.news_button {
  margin-top: 42px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .news_button {
    margin-top: 44px;
  }
}

@media screen and (min-width: 768px) {
  .news-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 40px;
  }
  .news-card:hover .news-card_img img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media screen and (min-width: 768px) {
  .news-card_img {
    width: 260px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    overflow: hidden;
  }
  .news-card_img img {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
}
.news-card_body {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .news-card_body {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-top: 0;
  }
}
.news-card_time {
  font-size: 14px;
  display: block;
}
.news-card_title {
  font-weight: 600;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .news-card_title {
    font-size: 18px;
    margin-top: 16px;
  }
}
.news-card_text {
  font-size: 14px;
  color: #888;
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  .news-card_text {
    margin-top: 10px;
  }
}

.concept2_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .concept2_inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}
@media screen and (min-width: 900px) {
  .concept2_inner {
    gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .concept2_inner {
    gap: 80px;
  }
}
.concept2_img {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .concept2_img {
    width: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
.concept2_img img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .concept2_message {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.concept2_title {
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .concept2_title {
    font-size: 22px;
  }
}
@media screen and (min-width: 900px) {
  .concept2_title {
    font-size: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .concept2_title {
    font-size: 28px;
  }
}
.concept2_text {
  font-size: 14px;
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  .concept2_text {
    margin-top: 36px;
    font-size: 16px;
  }
}

.contact {
  background: url(../img/contact.png) no-repeat center center/cover;
  padding-block: 56px;
}
@media screen and (min-width: 768px) {
  .contact {
    padding-block: 80px;
  }
}
@media screen and (min-width: 768px) {
  .contact_inner {
    max-width: 590px;
    padding-inline: 40px;
  }
}
.contact_head {
  color: #3EA1D1;
}
.contact_text {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.contact_text .is-required {
  color: #e7728e;
}
.contact_items {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .contact_items {
    padding-top: 19px;
  }
}
.contact_footer {
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .contact_footer {
    margin-top: 32px;
  }
}
.contact_privacy {
  text-align: center;
}

.contact-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}
@media screen and (min-width: 768px) {
  .contact-control {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  .contact-control_head {
    width: 180px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
@media screen and (min-width: 768px) {
  .contact-control_input {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.contact-control_radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: rgba(62, 161, 209, 0.7);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 16px;
}
@media screen and (min-width: 768px) {
  .form-label {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-inline: 4px;
    clip-path: polygon(0 0, 97% 0, 100% 50%, 97% 100%, 0 100%);
  }
}
.form-label_required {
  color: #e7728e;
  font-size: 10px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .form-label_required {
    font-size: 12px;
  }
}

.form-text {
  width: 100%;
  height: 40px;
  border: 0;
  font-size: 16px;
  background: #fff;
  -webkit-box-shadow: 5px 6px 16px 0 rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 16px 0 rgba(96, 96, 96, 0.16);
}
.form-text:focus {
  outline: #3EA1D1 auto 1px;
  -webkit-box-shadow: 5px 6px 16px 0 rgba(62, 161, 209, 0.16);
          box-shadow: 5px 6px 16px 0 rgba(62, 161, 209, 0.16);
}

.form-radio {
  position: relative;
}
.form-radio_input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form-radio_input:checked + .form-radio_text {
  background-color: #3EA1D1;
  color: #fff;
}
.form-radio_input:focus + .form-radio_text {
  outline: #3EA1D1 auto 1px;
  -webkit-box-shadow: 5px 6px 16px 0 rgba(62, 161, 209, 0.32);
          box-shadow: 5px 6px 16px 0 rgba(62, 161, 209, 0.32);
}
.form-radio_text {
  letter-spacing: 0.026px;
  color: #3EA1D1;
  border: 1px solid #fff;
  background: #fff;
  width: 80px;
  height: 40px;
  display: grid;
  place-items: center;
}

.form-textarea {
  width: 100%;
  height: 122px;
  background: #fff;
  -webkit-box-shadow: 5px 6px 16px 0 rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 16px 0 rgba(96, 96, 96, 0.16);
  resize: vertical;
  font-size: 16px;
  border: 0;
}
.form-textarea:focus {
  outline: #3EA1D1 auto 1px;
  -webkit-box-shadow: 5px 6px 16px 0 rgba(62, 161, 209, 0.16);
          box-shadow: 5px 6px 16px 0 rgba(62, 161, 209, 0.16);
}

.form-checkbox {
  position: relative;
}
.form-checkbox_input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form-checkbox_input:checked + .form-checkbox_text::after {
  opacity: 1;
}
.form-checkbox_input:focus + .form-checkbox_text::before {
  outline: #3EA1D1 auto 1px;
  -webkit-box-shadow: 5px 6px 16px 0 rgba(62, 161, 209, 0.32);
          box-shadow: 5px 6px 16px 0 rgba(62, 161, 209, 0.32);
}
.form-checkbox_text {
  font-size: 16px;
  padding-left: 30px;
}
.form-checkbox_text::before, .form-checkbox_text::after {
  content: "";
  position: absolute;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  left: 0;
  inset-block: 0;
  margin-block: auto;
}
.form-checkbox_text::before {
  width: 22px;
  height: 22px;
  background: #fff;
  border: 1px solid #3EA1D1;
}
.form-checkbox_text::after {
  opacity: 0;
  width: 19.414px;
  height: 14.621px;
  left: 1.29px;
  background: url(../img/check-icon.png) no-repeat center center/contain;
}
.form-checkbox_text a {
  text-decoration: underline;
  color: #3EA1D1;
}

.contact_submit {
  margin-top: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contact_submit {
    margin-top: 44px;
  }
}
.footer {
  padding-block: 40px 7px;
  background: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 14px;
  }
}
.footer_logo a img {
  width: 120px;
  display: block;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .footer_logo a img {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .footer_logo a img:hover {
    opacity: 0.6;
  }
}
.footer_menu-items {
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .footer_menu-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 32px;
  }
}
.footer_menu-item {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .footer_menu-link {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .footer_menu-link:hover {
    opacity: 0.6;
  }
}
.footer_sns-items {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .footer_sns-items {
    margin-top: 16px;
  }
}
@media screen and (min-width: 768px) {
  .footer_sns-link {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .footer_sns-link:hover {
    opacity: 0.6;
  }
}
.footer_copyright {
  font-size: 12px;
  margin-top: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer_copyright {
    margin-top: 28px;
  }
}
.footer_copyright small {
  color: #888;
  font-size: inherit;
}