@charset "UTF-8";
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  color: #393939;
}
body.is-fixed {
  overflow: hidden;
}

a {
  text-decoration: none;
  vertical-align: bottom;
}

.header-nav_link:hover::after {
  opacity: 0;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header-nav_link:hover::after, .header-nav_link:focus-visible::after {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.header-nav_link:active::after {
  opacity: 0;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

li {
  list-style: none;
}

.wrapper {
  overflow: hidden;
}

.inner {
  margin-inline: auto;
  padding-inline: 20px;
  width: 100%;
  overflow: visible;
}
@media screen and (min-width: 768px) {
  .inner {
    padding-inline: 20px;
    max-width: 1040px;
  }
}

.sec-ttl {
  text-align: center;
}
.sec-ttl h2 {
  display: inline-block;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.8px;
}
@media screen and (min-width: 768px) {
  .sec-ttl h2 {
    font-size: 28px;
  }
}
.sec-ttl h2::before, .sec-ttl h2::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  width: 49px;
  height: 14.63px;
  background: url(../img/title-deco.png) no-repeat center center/contain;
}
@media screen and (min-width: 768px) {
  .sec-ttl h2::before, .sec-ttl h2::after {
    width: 67px;
    height: 20px;
  }
}
.sec-ttl h2::before {
  left: -65px;
}
@media screen and (min-width: 768px) {
  .sec-ttl h2::before {
    left: -95px;
  }
}
.sec-ttl h2::after {
  right: -65px;
}
@media screen and (min-width: 768px) {
  .sec-ttl h2::after {
    right: -95px;
  }
}

.txt-red {
  color: #EE5A6D;
}

.btn {
  display: inline-block;
  background-color: #fff;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.page-top {
  position: fixed;
  right: 10px;
  bottom: 140px;
  z-index: 40;
}
@media screen and (min-width: 768px) {
  .page-top {
    right: 20px;
    bottom: 40px;
  }
}
.page-top a {
  display: block;
}
.page-top a img {
  width: 52px;
  height: 52px;
}

.hidden-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .hidden-pc {
    display: block;
  }
}

.hidden-sp {
  display: block;
}
@media screen and (min-width: 768px) {
  .hidden-sp {
    display: none;
  }
}

header.is-checked .header-bg {
  background-color: #0060A0;
}
header.is-checked .header-bg .header-logo .logo-blue {
  display: none;
}
header.is-checked .header-bg .header-logo .logo-white {
  display: block;
}

.header-bg {
  width: 100%;
  height: 60px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: fixed;
  z-index: 999;
}
@media screen and (min-width: 1200px) {
  .header-bg {
    height: 80px;
  }
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  padding-inline: 20px;
  margin-inline: auto;
}
@media screen and (min-width: 1200px) {
  .header-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-inline: 40px;
  }
}

.header-logo a:hover {
  opacity: 0.8;
}
.header-logo a img {
  width: 270px;
}

.logo-blue {
  display: block;
}

.logo-white {
  display: none;
}

.header-nav {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 32px;
  }
}

.header-nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  text-align: center;
}

.header-nav_link {
  display: inline-block;
  padding-top: 30px;
  padding-block: 30px 8px;
  font-size: 11px;
  font-weight: 700;
  color: #393939;
  line-height: 1.5;
  position: relative;
}
.header-nav_link::before {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #393939;
}
.header-nav_link::after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0, 1);
          transform: translateX(-50%) scale(0, 1);
  bottom: 0;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #1391E6;
  -webkit-transform-origin: center top;
          transform-origin: center top;
}
.header-nav_link:hover {
  color: #1391E6;
}
.header-nav_link:hover::before {
  background-color: #1391E6;
}
.header-nav_link:hover::after {
  -webkit-transform: translateX(-50%) scale(1, 1);
          transform: translateX(-50%) scale(1, 1);
}
.header-nav_link.is-focus {
  color: #1391E6;
}
.header-nav_link.is-focus::before {
  background-color: #1391E6;
}
.header-nav_link.is-focus::after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #1391E6;
}

.header-nav_link-home::before {
  -webkit-mask-image: url(../img/home-icon.svg);
          mask-image: url(../img/home-icon.svg);
}

.header-nav_link-about::before {
  -webkit-mask-image: url(../img/about-icon.svg);
          mask-image: url(../img/about-icon.svg);
}

.header-nav_link-medical::before {
  -webkit-mask-image: url(../img/guide-icon.svg);
          mask-image: url(../img/guide-icon.svg);
}

.header-nav_link-staff::before {
  -webkit-mask-image: url(../img/staff-icon.svg);
          mask-image: url(../img/staff-icon.svg);
}

.header-nav_link-blog::before {
  -webkit-mask-image: url(../img/blog-icon.svg);
          mask-image: url(../img/blog-icon.svg);
}

.header-nav_link-contact::before {
  -webkit-mask-image: url(../img/contact-icon.svg);
          mask-image: url(../img/contact-icon.svg);
}

.header-nav_tel {
  text-align: right;
}
.header-nav_tel p {
  font-size: 12px;
  line-height: 1.5;
  color: #393939;
}
.header-nav_tel a {
  padding-left: 32px;
  display: inline-block;
  font-size: 32px;
  color: #1391E6;
  line-height: 1.3;
  position: relative;
}
.header-nav_tel a::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  content: "";
  width: 28px;
  height: 28px;
  -webkit-mask-image: url(../img/tel-icon.svg);
          mask-image: url(../img/tel-icon.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #1391E6;
}

.hamburger {
  display: block;
  margin-left: auto;
  line-height: 0;
}
@media screen and (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}

.drawer-icon {
  position: relative;
  width: 27px;
  height: 18px;
}
.drawer-icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  width: calc(100% + 20px);
  height: 60px;
}
.drawer-icon.is-checked .drawer-icon_bar {
  background-color: #fff;
}
.drawer-icon.is-checked .drawer-icon_bar:nth-of-type(1) {
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.drawer-icon.is-checked .drawer-icon_bar:nth-of-type(2) {
  display: none;
}
.drawer-icon.is-checked .drawer-icon_bar:nth-of-type(3) {
  top: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.drawer-icon_bar {
  position: absolute;
  left: 0;
  content: "";
  width: 27px;
  height: 2px;
  border-radius: 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #1391E6;
}
.drawer-icon_bar:nth-of-type(1) {
  top: 1px;
}
.drawer-icon_bar:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.drawer-icon_bar:nth-of-type(3) {
  bottom: 1px;
}

.drawer-content {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 900;
  display: none;
  width: 100%;
  height: calc(100dvh - 120px);
  padding-block: 111.5px;
  overflow-y: auto;
  background: #0060A0;
}
@media screen and (min-width: 768px) {
  .drawer-content {
    height: calc(100dvh - 60px);
  }
}

@media screen and (min-width: 1200px) {
  .drawer-content {
    display: none !important;
  }
}
.drawer-content_menu {
  margin: auto;
  padding-inline: 20px;
  width: 100%;
  max-width: calc(100% - 110px);
}

.drawer-nav_links li {
  border-top: dotted 1px #fff;
  position: relative;
}
.drawer-nav_links li::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  -webkit-mask-image: url(../img/btn-arrow.svg);
          mask-image: url(../img/btn-arrow.svg);
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.drawer-nav_links li:last-child {
  border-bottom: dotted 1px #fff;
}
.drawer-nav_links li a {
  display: block;
  padding-block: 15px;
  padding-left: 38px;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.drawer-nav_links li a::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  content: "";
  width: 24px;
  height: 24px;
  background-color: #fff;
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.drawer-nav_links li a:hover {
  opacity: 0.7;
}

.drawer-content_link-home::after {
  -webkit-mask-image: url(../img/home-icon.svg);
          mask-image: url(../img/home-icon.svg);
}

.drawer-content_link-about::after {
  -webkit-mask-image: url(../img/about-icon.svg);
          mask-image: url(../img/about-icon.svg);
}

.drawer-content_link-medical::after {
  -webkit-mask-image: url(../img/guide-icon.svg);
          mask-image: url(../img/guide-icon.svg);
}

.drawer-content_link-staff::after {
  -webkit-mask-image: url(../img/staff-icon.svg);
          mask-image: url(../img/staff-icon.svg);
}

.drawer-content_link-blog::after {
  -webkit-mask-image: url(../img/blog-icon.svg);
          mask-image: url(../img/blog-icon.svg);
}

.drawer-content_link-contact::after {
  -webkit-mask-image: url(../img/contact-icon.svg);
          mask-image: url(../img/contact-icon.svg);
}

.drawer-btn1 {
  margin-top: 37px;
}

.drawer-btn2 {
  margin-top: 30px;
}

.fixed-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin-inline: auto;
  padding-inline: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 30;
}
@media screen and (min-width: 768px) {
  .fixed-bottom {
    display: none;
  }
}

.fixed-bottom_tell {
  text-align: center;
}
.fixed-bottom_tell a {
  padding-left: 22px;
  display: inline-block;
  font-size: 20px;
  color: #1391E6;
  line-height: 1.3;
  position: relative;
}
.fixed-bottom_tell a::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  content: "";
  width: 18px;
  height: 18px;
  -webkit-mask-image: url(../img/tel-icon.svg);
          mask-image: url(../img/tel-icon.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #1391E6;
}
.fixed-bottom_tell p {
  font-size: 10px;
  color: #393939;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .fixed-bottom_tell p {
    line-height: 1.5;
  }
}

.fixed-bottom_booking .btn {
  padding: 9.5px 17.5px 9.5px 73.5px;
  border-radius: 8px;
  background-color: #1391E6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 157px;
  position: relative;
}
.fixed-bottom_booking .btn::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 17.5px;
  content: "";
  width: 46px;
  height: 28px;
  -webkit-mask-image: url(../img/booking-icon.svg);
          mask-image: url(../img/booking-icon.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .fixed-bottom_booking .btn::before {
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 768px) {
  .fixed-bottom_booking .btn {
    width: 100%;
    max-width: 220px;
    padding: 15px 20px;
  }
}

.btn_txt-top,
.btn_txt-bottom {
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
}

.btn_txt-top {
  font-size: 16px;
}

.btn_txt-bottom {
  font-size: 12px;
}

.fixed-side {
  display: none;
  position: fixed;
  top: 170px;
  right: 0;
  content: "";
  width: 92px;
  height: 120px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #1391E6;
  overflow: hidden;
  text-align: center;
  z-index: 30;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .fixed-side {
    display: block;
  }
}
.fixed-side .btn {
  padding: 20px 17px;
  background-color: #1391E6;
}
.fixed-side .btn:hover {
  background-color: #0060A0;
}
.fixed-side .btn p {
  padding-top: 43px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
  position: relative;
}
.fixed-side .btn p::before {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 52px;
  height: 32px;
  -webkit-mask-image: url(../img/booking-icon.svg);
          mask-image: url(../img/booking-icon.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #fff;
}

.page-header {
  margin-top: 80px;
}
@media screen and (min-width: 1200px) {
  .page-header {
    margin-top: 120px;
  }
}

.page-header_inner {
  margin-inline: auto;
  position: relative;
  content: "";
  width: 89.4vw;
  height: 50.14vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 12px;
  overflow: hidden;
}
.page-header_inner::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .page-header_inner {
    width: 90.63vw;
    height: 26.57vw;
  }
}

.page-header_ttl-area {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 2;
}
.page-header_ttl-area p {
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
}

.page-header_ttl-ja {
  font-size: 24px;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .page-header_ttl-ja {
    font-size: 32px;
    letter-spacing: 1px;
  }
}

.page-header_ttl-en {
  margin-top: 14px;
  font-size: 12px;
  letter-spacing: 1px;
}
@media screen and (min-width: 768px) {
  .page-header_ttl-en {
    margin-top: 17px;
    font-size: 14px;
  }
}

.breadcrumb {
  color: #888;
  font-size: 12px;
  margin: 6px 20px;
  overflow: auto;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .breadcrumb {
    margin: 6px auto 0 auto;
    padding-inline: 40px;
    max-width: 1180px;
  }
}

.breadcrumb a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.breadcrumb a:hover {
  opacity: 0.6;
}

.breadcrumb-arrow {
  margin: 0 8px;
}

.current-item {
  color: #1A1A1A;
}

.breadcrumb i {
  margin-inline: 5px;
}

.fas {
  font-weight: 900;
}

.fa-angle-right::before {
  content: "＞";
}

.common-sec01 {
  margin-top: 60px;
  position: relative;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .common-sec01 {
    margin-inline: auto;
    max-width: 1280px;
    height: 726px;
  }
}

.common-sec01_bg {
  position: absolute;
  top: 0;
  left: 10px;
  background-position: cover;
  overflow: hidden;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .common-sec01_bg {
    left: 450px;
  }
}
.common-sec01_bg img {
  width: 148.3vw;
  height: 82.14vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left center;
     object-position: left center;
}
@media screen and (min-width: 768px) {
  .common-sec01_bg img {
    width: 102.35vw;
    max-width: 1280px;
    height: 56.72vw;
    max-height: 726px;
  }
}

.common-sec01_wrap {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .common-sec01_wrap {
    margin-top: 180px;
    margin-right: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    gap: 90px;
    max-width: 1140px;
  }
}

.common-sec01_wrap-left {
  margin-right: 40px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .common-sec01_wrap-left {
    margin-right: 0;
  }
}

.common-sec01_wrap-right {
  margin-inline: auto;
  padding-inline: 20px;
  width: 100%;
  overflow: visible;
}
@media screen and (min-width: 768px) {
  .common-sec01_wrap-right {
    padding-inline: 0;
    max-width: 407px;
  }
}

.common-sec01_subttl {
  font-size: 11px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #1391E6;
}
@media screen and (min-width: 768px) {
  .common-sec01_subttl {
    font-size: 14px;
  }
}

.common-sec01_mainttl {
  margin-top: 14px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.8px;
}
@media screen and (min-width: 768px) {
  .common-sec01_mainttl {
    margin-top: 24px;
    font-size: 28px;
  }
}

.common-sec01_txt {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .common-sec01_txt {
    margin-top: 40px;
  }
}

.common-sec01_btn {
  margin-top: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .common-sec01_btn {
    margin-top: 40px;
    text-align: left;
  }
}
.common-sec01_btn .btn {
  font-size: 14px;
  color: #1391E6;
  padding: 10px 45px;
  border-radius: 24px;
  border: 1px solid #1391E6;
  position: relative;
}
.common-sec01_btn .btn::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 13px;
  content: "";
  width: 13px;
  height: 13px;
  -webkit-mask-image: url(../img/btn-arrow.svg);
          mask-image: url(../img/btn-arrow.svg);
  background-color: #1391E6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.common-sec01_btn .btn:hover {
  color: #fff;
  background-color: #1391E6;
}
.common-sec01_btn .btn:hover::after {
  right: 6px;
  background-color: #fff;
}

.common-sec02 {
  margin-top: 60px;
  overflow: hidden;
}

.common-sec02_bg-top {
  position: relative;
  width: 100%;
  height: 23.47vw;
}
@media screen and (min-width: 768px) {
  .common-sec02_bg-top {
    height: 15.7vw;
  }
}
.common-sec02_bg-top::before {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: inherit;
  height: inherit;
  background-image: url(../img/bg-top-sp.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
@media screen and (min-width: 768px) {
  .common-sec02_bg-top::before {
    background-image: url(../img/bg-top-pc.svg);
  }
}

.common-sec02_wrap {
  padding-block: 31px 62px;
  background-color: #DFF1FD;
}
@media screen and (min-width: 768px) {
  .common-sec02_wrap {
    padding-block: 1px 86px;
  }
}

.common-sec02_cards {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .common-sec02_cards {
    margin-top: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 80px;
  }
}

.common-sec02_card {
  border-radius: 20px;
}
.common-sec02_card::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  z-index: 2;
}

.common-sec02_card {
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .common-sec02_card {
    max-width: 460px;
  }
}
.common-sec02_card:hover .common-sec02_card-bg img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.common-sec02_card-bg {
  width: 100%;
  height: 100%;
  aspect-ratio: 335/210;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .common-sec02_card-bg {
    width: auto;
    height: auto;
    aspect-ratio: 460/290;
  }
}
.common-sec02_card-bg > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.common-sec02_card-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  z-index: 3;
}

.common-sec02_card-info-ttl {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.8px;
  color: #fff;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .common-sec02_card-info-ttl {
    font-size: 28px;
  }
}
.common-sec02_card-info-ttl::after {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 30px;
}
@media screen and (min-width: 768px) {
  .common-sec02_card-info-ttl::after {
    width: 40px;
  }
}

.common-sec02_card-info-txt {
  margin-top: 20px;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.8px;
}
@media screen and (min-width: 768px) {
  .common-sec02_card-info-txt {
    font-size: 16px;
  }
}

.common-sec02_contents-txt {
  margin-top: 40px;
  padding: 17px 20px;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .common-sec02_contents-txt {
    margin-top: 60px;
    padding: 35px 40px;
  }
}

.common-sec02_bg-bottom {
  margin-top: -15.4vw;
  position: relative;
  width: 100%;
  height: 23.47vw;
}
@media screen and (min-width: 768px) {
  .common-sec02_bg-bottom {
    margin-top: -9.2vw;
    height: 16.7vw;
  }
}
.common-sec02_bg-bottom::before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: inherit;
  height: inherit;
  background-image: url(../img/bg-bottom-sp.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .common-sec02_bg-bottom::before {
    background-image: url(../img/bg-bottom-pc.svg);
  }
}

.common-sec03 {
  margin-block: 100px;
}
@media screen and (min-width: 768px) {
  .common-sec03 {
    margin-block: 120px;
  }
}

.common-sec03_cards {
  margin-top: 40px;
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(1, 1fr);
}
@media screen and (min-width: 768px) {
  .common-sec03_cards {
    margin-top: 60px;
    gap: 60px 50px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.common-sec03_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .common-sec03_card {
    display: block;
    border-radius: 20px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }
}
.common-sec03_card:hover .common-sec03_card-img img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.common-sec03_card-img {
  width: 35.48vw;
  height: 100%;
  aspect-ratio: 133/101;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .common-sec03_card-img {
    width: auto;
    height: auto;
    aspect-ratio: 300/188;
    border-radius: 20px 20px 0 0;
  }
}
.common-sec03_card-img > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.common-sec03_card-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  width: 51.2vw;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .common-sec03_card-txt {
    position: relative;
    gap: 7px;
    width: auto;
    padding: 0 24px 12px;
    margin-top: -14px;
  }
}

.common-sec03_card-tag {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 10px;
  line-height: 1.5;
  color: #fff;
  padding: 2px 8px;
  background-color: #1391E6;
  border-radius: 999px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .common-sec03_card-tag {
    padding: 6px 12px;
    font-size: 11px;
  }
}

.common-sec03_card-ttl {
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .common-sec03_card-ttl {
    font-size: 16px;
    min-height: 72px;
  }
}

.common-sec03_card-ymd {
  font-size: 11px;
  line-height: 1.5;
  color: #888;
}

.common-sec03_btn {
  margin-top: 40px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .common-sec03_btn {
    margin-top: 60px;
  }
}
.common-sec03_btn .btn {
  font-size: 14px;
  color: #1391E6;
  padding: 10px 45px;
  border-radius: 24px;
  border: 1px solid #1391E6;
  position: relative;
}
.common-sec03_btn .btn::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 13px;
  content: "";
  width: 13px;
  height: 13px;
  -webkit-mask-image: url(../img/btn-arrow.svg);
          mask-image: url(../img/btn-arrow.svg);
  background-color: #1391E6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.common-sec03_btn .btn:hover {
  color: #fff;
  background-color: #1391E6;
}
.common-sec03_btn .btn:hover::after {
  right: 6px;
  background-color: #fff;
}

.footer {
  margin-top: 100px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer {
    margin-top: 160px;
    margin-bottom: 0;
  }
}

.footer_wave {
  position: relative;
  width: 100%;
  height: 32px;
}
.footer_wave::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 32px;
  background-image: url(../img/wave-sp.png);
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: left -3px center;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .footer_wave::before {
    background-image: url(../img/wave-pc.png);
  }
}

.footer-wrap {
  background-color: #DFF1FD;
}

.footer-inner {
  padding: 13px 10px 60px 10px;
}
@media screen and (min-width: 768px) {
  .footer-inner {
    margin-inline: auto;
    padding: 56px 20px;
    max-width: 1040px;
  }
}

.footer-intro {
  padding: 32px 10px 20px 10px;
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .footer-intro {
    padding: 40px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-info {
    width: 100%;
    max-width: 477px;
  }
}

.footer-intro_ttl-img {
  display: inline-block;
  width: 82.4vw;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-intro_ttl-img {
    width: 31.7vw;
    max-width: 405px;
  }
}

.footer-intro_ttl-txt {
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14px;
}
.footer-intro_ttl-txt p {
  font-size: 14px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .footer-intro_ttl-txt p {
    line-height: 1.5;
  }
}

.footer-intro_tell {
  margin-top: 20px;
}
.footer-intro_tell a {
  padding-left: 32px;
  display: inline-block;
  font-size: 32px;
  color: #1391E6;
  line-height: 1.3;
  letter-spacing: -0.2px;
  position: relative;
}
.footer-intro_tell a::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  content: "";
  width: 28px;
  height: 28px;
  background: url(../img/tel-icon.svg) no-repeat center center/contain;
}
.footer-intro_tell p {
  font-size: 12px;
  color: #1391E6;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .footer-intro_tell p {
    line-height: 1.5;
  }
}

.footer-intro_btn {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .footer-intro_btn {
    gap: 20px;
  }
}

.booking-btn,
.contact-btn {
  text-align: center;
}

.booking-btn .btn {
  padding: 8.5px 35px;
  border-radius: 30px;
  background-color: #1391E6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .booking-btn .btn {
    width: 100%;
    max-width: 220px;
    padding: 15px 20px;
  }
}
.booking-btn .btn span {
  padding-left: 23px;
  font-size: 14px;
  color: #fff;
  position: relative;
}
@media screen and (min-width: 768px) {
  .booking-btn .btn span {
    padding-left: 30px;
    font-size: 16px;
  }
}
.booking-btn .btn span::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  content: "";
  width: 17px;
  height: 17px;
  -webkit-mask-image: url(../img/booking-icon.svg);
          mask-image: url(../img/booking-icon.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .booking-btn .btn span::before {
    width: 24px;
    height: 24px;
  }
}
.booking-btn .btn:hover {
  background-color: #0060A0;
}

.contact-btn .btn {
  padding: 7.5px 20.5px;
  border-radius: 30px;
  background-color: #fff;
  border: solid 1px #1391E6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .contact-btn .btn {
    width: 100%;
    max-width: 220px;
    padding: 15px 20px;
  }
}
.contact-btn .btn span {
  padding-left: 23px;
  font-size: 14px;
  color: #1391E6;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .contact-btn .btn span {
    padding-left: 30px;
    font-size: 16px;
  }
}
.contact-btn .btn span::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  content: "";
  width: 17px;
  height: 17px;
  -webkit-mask-image: url(../img/contact-icon.svg);
          mask-image: url(../img/contact-icon.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #1391E6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .contact-btn .btn span::before {
    width: 24px;
    height: 24px;
  }
}
.contact-btn .btn:hover {
  background-color: #1391E6;
}
.contact-btn .btn:hover span {
  color: #fff;
}
.contact-btn .btn:hover span::before {
  background-color: #fff;
}

.footer-timeschedule {
  margin-top: 20px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  overflow: hidden;
}
.footer-timeschedule picture {
  width: 100%;
}

.footer-map {
  margin-top: 20px;
  margin-inline: auto;
  width: calc(100% - 20px);
}
@media screen and (min-width: 768px) {
  .footer-map {
    margin-top: 0;
    margin-inline: 0;
    width: 100%;
    max-width: 385px;
  }
}

.footer-map_wrap {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.footer-map_wrap iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-nav {
  margin-top: 42px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.footer-nav a:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  .footer-nav {
    padding-left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-nav_top,
.footer-nav_top > a {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.footer-nav_child {
  margin-top: 18px;
}
.footer-nav_child li:nth-child(n+2) {
  margin-top: 18px;
}
.footer-nav_child li a {
  display: block;
  padding-left: 12px;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
}
.footer-nav_child li a::before {
  position: absolute;
  top: 6px;
  left: 0;
  content: "";
  width: 6px;
  height: 12px;
  -webkit-mask-image: url(../img/tag-arrow.svg);
          mask-image: url(../img/tag-arrow.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #1391E6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-nav_child li a:hover::before {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

.footer-nav_child-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.copyright {
  background-color: #1391E6;
  width: 100%;
}
.copyright p {
  padding-block: 13px;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .copyright p {
    padding-block: 17px;
  }
}