@use "sass:map";

// ============================================================================
// responsive
// ============================================================================
$breakpoints: (
    1200: "screen and (min-width: 1200px)",
    1000: "screen and (min-width: 1000px)",
    900: "screen and (min-width: 900px)",
    pc: "screen and (min-width: 768px)",
    sp: "screen and (max-width: 767px)",
);

@mixin mq($breakpoint: pc) {
    @media #{map.get($breakpoints, $breakpoint)} {
        @content;
    }
}


// ================================================================================
// contents
// ================================================================================
.common_group-ttl {
    padding-bottom: 6px;
    font-size: 16px;
    line-height: 1.5;
    border-bottom: solid 1px #393939;
}


// ========================================
// page-header
// ========================================
.staff-header_inner {
    background-image: url(../img/page-staff_top-sp.png);

    @include mq(pc) {
        background-image: url(../img/page-staff_top-pc.png);
    }
}


// ========================================
// head
// ========================================
.head {
    margin-top: 60px;

    @include mq(pc) {
        margin-top: 80px;
    }
}

.head-wrap {
    margin-top: 40px;

    @include mq(pc) {
        margin-top: 60px;
        display: flex;
        gap: 80px;
    }
}

.head-info,
.head-info_img-pc {
    width: 100%;

    @include mq(pc) {
        max-width: 460px;
    }
}

.head-info_main-msg {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.8px;

    @include mq(pc) {
        font-size: min(28px, 3vw);
    }
}

.head-info_msg-txt {
    margin-top: 20px;
    display: grid;
    gap: 14px;

    @include mq(pc) {
        margin-top: 40px;
    }
}

.head-info_nm {
    margin-top: 14px;
    text-align: right;
}

.head-info_img-sp {
    margin-top: 40px;
}

.head-info_his-wrap {
    margin-top: 40px;

    @include mq(pc) {
        margin-top: 60px;
    }
}

.head-info_his-tbl {
    margin-top: 14px;

    tbody {
        display: grid;
        gap: 14px;

        tr {
            display: flex;
            gap: 14px;

            th {
                width: 50px;
            }

            td {
                width: calc(100% - 64px);
            }
        }
    }
}

.head-info_lic-wrap {
    margin-top: 30px;
}

.head-info_lic-tbl {
    margin-top: 14px;
    display: grid;
    gap: 14px;
}


// ========================================
// staff-slider
// ========================================
.staff-slider {
    margin-top: 100px;

    @include mq(pc) {
        margin-top: 160px;
    }
}


// ========================================
// staff-gallery
// ========================================
.staff-gallery {
    margin-top: 100px;

    @include mq(pc) {
        margin-top: 160px;
    }
}

.gallery-wrap {
    margin-top: 40px;
    display: grid;
    gap: 40px;

    @include mq(pc) {
        margin-top: 60px;
        gap: 60px;
    }
}

.gallery-cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    text-align: center;

    @include mq(pc) {
        grid-template-columns: repeat(2, 1fr);
        gap: 80px 74px;
    }

    @include mq(1000) {
        grid-template-columns: repeat(3, 1fr);
    }

    li {
        margin-inline: auto;
        width: 100%;
        max-width: 600px;

        @include mq(pc) {
            max-width: auto;
        }
    }
}

.gallery-card_nm-wrap {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.gallery-card_cml {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.8px;
}

.gallery-card_nm {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.8px;
}

.gallery-card_tbl {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    tr {
        display: grid;
        align-items: stretch;
        text-align: left;
        grid-template-rows: auto;
        grid-template-columns: calc(100% * (140 / 335)) calc(100% * (195 / 335));
        box-sizing: border-box;

        @include mq(pc) {
            grid-template-columns: repeat(2, 1fr);
        }

        &:nth-of-type(n+2) {
            margin-top: 1px;
        }

        th,
        td {
            padding: 17px 20px;
            font-size: 14px;
            line-height: 1.5;
        }

        th {
            display: flex;
            align-items: center;
            background-color: #DFF1FD;
        }
    }
}