@use "sass:map";

// ================================================================================
// responsive
// ================================================================================
$breakpoints: (
  1280: "screen and (min-width: 1280px)",
  980: "screen and (min-width: 980px)",
  pc: "screen and (min-width: 768px)",
  sp: "screen and (max-width: 767px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}


// ================================================================================
// about
// ================================================================================
.about-sec-ttl {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

// ========================================
// about-top
// ========================================
.about-top {
  text-align: center;

  @include mq(pc) {
    margin-inline: auto;
    padding-inline: 40px;
    max-width: calc(1100px + 80px);
  }
}

.mission {
  margin-top: 65px;

  @include mq(pc) {
    margin-top: 76px;
  }
}

.vision {
  margin-top: 60px;

  @include mq(pc) {
    margin-top: 121px;
  }
}

.about-top_img {
  // margin-top: 60px;
  position: relative;
  z-index: -1;

  &::after{
    background: rgba(26, 26, 26, 0.2);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    width: 100%;
    height: 281px;
    object-fit: cover;
    overflow: hidden;

    @include mq(pc) {
      // width: 86vw;
      height: 354px;
    }
  }
}

.about-top_img-ttl {
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 1;

  @include mq(pc) {
    top: 32px;
    left: 1.8%;
  }
}

.about-top_img-ttl-en,
.about-top_img-ttl-ja {
  color: #fff;
  display: block;
  line-height: 1;
  text-align-last: left;
}

.about-top_img-ttl-en {
  font-size: clamp(30px, 13.9vw, 52px);
  font-weight: 500;

  @include mq(pc) {
    font-size: clamp(65px, 7.9vw, 100px);
  }
}

.about-top_img-ttl-ja {
  margin-top: 10px;
  font-size: clamp(16px, 4.3vw, 20px);
  font-weight: 700;

  @include mq(pc) {
    margin-top: 16px;
    font-size: clamp(16px, 1.9vw, 30px);
  }
}

.about-top_wrap {
  // position: relative;
  // top: -40px;
  margin-top: -40px;
  margin-inline: auto;
  padding-inline: 20px;

  @include mq(pc) {
    margin-top: -60px;
    padding-inline: 40px;
    max-width: calc(688px + 80px);
  }
}

.about-top_content {
  background-color: #fff;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
  padding: 20px 20px 18px;

  @include mq(pc) {
    padding: 29px 5.9% 28px;
  }
}

.about-top_content-ttl {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #023E78;

  @include mq(pc) {
    font-size: 24px;
  }
}

.about-top_content-txt {
  margin-top: 18px;
  text-align: left;

  @include mq(pc) {
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.7;
  }
}


// ========================================
// summary
// ========================================
.summary {
  margin-top: 60px;
  padding: 60px 20px 100px;
  content: "";
  width: 100%;
  background: url(../img/front-page/case/sp/case-bg.png) no-repeat center center / cover;
  z-index: -1;

  @include mq(pc) {
    margin-top: 123px;
    background-image: url(../img/front-page/case/pc/case-bg.png);
    padding: 94px 20%;
  }
}

.summary_inner {
  padding: 47px 20px 37px;
  background-color: #fff;

  @include mq(pc) {
    padding: 65px 40px;
    margin-inline: auto;
    max-width: calc(688px + 80px);
  }
}

.summary-list {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;

  @include mq(pc) {
    margin-top: 65px;
  }

  dt {
    width: 34%;
    border-top: solid 1px #023E78;
    // padding: 15px 0;
    padding-block: 13px 13px;
    display: grid;
    align-items: center;

    @include mq(pc) {
      width: 29%;
      padding-block: 21px;
      padding-left: 4.8%;
      font-size: 16px;
      line-height: 1.7;
    }

    &:last-of-type {
      border-bottom: solid 1px #023E78;
    }
  }

  dd {
    width: 66%;
    border-top: solid 1px #efefef;
    padding: 13px 0 13px 20px;
    line-height: 1.5;

    @include mq(pc) {
      width: 71%;
      padding: 21px 0 21px 4.8%;
      font-size: 16px;
      line-height: 1.7;
    }

    &:last-of-type {
      border-bottom: solid 1px #efefef;
    }
  }
}


// ========================================
// news
// ========================================
.officer {
  margin-top: 68px;
  padding-bottom: 142px;
  // background: linear-gradient(transparent 15%, #edf3f8 15%, #edf3f8 100%, transparent 100%);
  background: linear-gradient(-170deg, transparent 41.5%, #edf3f8 41.5%, #edf3f8 95%, transparent 95%);
  // transform: skewY(10deg);

  @include mq(pc) {
    margin-top: 124px;
    padding-bottom: 208px;
    background: linear-gradient(-170deg, transparent 52%, #edf3f8 52%, #edf3f8 89%, transparent 89%);
  }
}

.officer-inner {
  width: 100%;
  // transform: skewY(-10deg);
  padding-inline: 20px;

  @include mq(pc) {
    margin-inline: auto;
    padding-inline: 40px;
    max-width: calc(1100px + 80px);
  }
}

.officer-lists {
  margin-top: 45px;
  display: grid;
  gap: 60px;

  @include mq(pc) {
    margin-inline: auto;
    max-width: 688px;
  }
}

.officer-list {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;

  @include mq(pc) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.officer-list_info {
  margin-top: 22px;
  width: 100%;

  @include mq(pc) {
    width: 59%;
  }
}

.officer-list_name {
  display: flex;
  align-items: center;
  font-size: 14px;

  span {
    display: block;
    font-weight: 700;
  }

  .post {
    margin-right: 20px;
  }

  .name {
    font-size: 20px;
  }
}

.officer-list_txt {
  margin-block: 22px 19px;

  @include mq(pc) {
    font-size: 14px;
    line-height: 1.7;
    margin-block: 34px 30px;
  }
}

.officer-list_sns {
  display: flex;
  gap: 24px;
  align-items: center;
}

.sns_link {
  width: 32px;
  transition: all 0.5s;

  &:hover {
    opacity: 0.6;
  }
}

.officer-list_img {
  width: 72%;

  @include mq(pc) {
    width: 34.8%;
  }
}