@use "sass:map";

// ================================================================================
// responsive
// ================================================================================
$breakpoints: (
    1280: "screen and (min-width: 1280px)",
    980: "screen and (min-width: 980px)",
    pc: "screen and (min-width: 768px)",
    sp: "screen and (max-width: 767px)",
);

@mixin mq($breakpoint: pc) {
    @media #{map.get($breakpoints, $breakpoint)} {
        @content;
    }
}


// ================================================================================
// contact
// ================================================================================
.contact-page {
    margin-top: 69px;
    margin-bottom: 100px;

    @include mq(pc) {
        margin-top: 78px;
        margin-bottom: 159px;
    }
}

.contact-page_inner {
    padding-inline: 5.4%;
    margin-inline: auto;
}

.contact-page_contents {
    // margin-top: 60px;
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
    // border-radius: 12px;
    // background-color: #EDF3F8;
    // padding: 46px 5.8% 41px;

    @include mq(pc) {
        max-width: 688px;
    }
}

.contact-page_ttl {
    margin-top: 65px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    text-align: center;

    @include mq(pc) {
        margin-top: 86px;
    }
}

.contact-form {
    margin-top: 44px;

    @include mq(pc) {
        margin-top: 64px;
    }
}

.contact-form_field {
    &:nth-child(n+2) {
        margin-top: 20px;

        @include mq(pc) {
            margin-top: 31px;
        }
    }
}

.contact-form_field-head {
    display: flex;
    align-items: center;
}

.contact-form_field-label {
    font-weight: 700;
    line-height: 1.29;

    @include mq(pc) {
        font-size: 18px;
    }
}

.contact-form_field-tag {
    font-size: 10px;
    font-weight: 700;
    line-height: 1.6;
    color: #fff;
    text-align: center;
    padding: 1px 8px;
    background-color: #E61264;
    margin-left: 8px;

    @include mq(pc) {
        font-size: 12px;
        margin-left: 9px;
    }
}

.contact-form_field-item {
    margin-top: 8px;
    flex-grow: 1;

    @include mq(pc) {
        margin-top: 12px;
    }
}

.contact-form_field-text {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #ddd;
    background: #fff;
    padding: 8px 13px;
    transition: all 0.5s;

    &:focus,
    &:hover {
        border-color: #1a1a1a;
        // border-width: 2px;
        outline: none;
    }
}

.contact-form_field-select {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #ddd;
    background: #fff;
    padding: 8px 13px;
    appearance: none;
    background: url(../img/contact/arrow.svg) no-repeat center right 14px / 13.217px 10.182px;
    transition: all 0.5s;

    &.is-empty {
        color: #ccc;
    }

    &:focus,
    &:hover {
        border-color: #1a1a1a;
        outline: none;
    }
}

.contact-form_field-textarea {
    width: 100%;
    height: 141px;
    border-radius: 5px;
    border: 2px solid #ddd;
    background: #fff;
    padding: 8px 13px;
    transition: all 0.5s;

    @include mq(pc) {
        height: 240px;
    }

    &:focus,
    &:hover {
        border-color: #1a1a1a;
        outline: none;
    }
}

select,
input,
textarea {
    outline: none;

    &::placeholder {
        color: #ccc;
    }

    &:focus {
        border-color: #1a1a1a;
    }
}

.contact-form_privacy {
    margin-top: 40px;

    @include mq(pc) {
        margin-top: 45px;
    }
}

.contact-form_privacy-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form_checkbox {
    &:hover {
        // .contact-form_checkbox-text {
        .wpcf7-list-item-label {
            &::before {
                border-color: #023E78;
            }
        }
    }
}

.contact-form_checkbox-input {
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;

    &:checked {
        // +.contact-form_checkbox-text {
        +.wpcf7-list-item-label {
            &::after {
                opacity: 1;
            }
        }
    }

    &:focus {
        // +.contact-form_checkbox-text {
        +.wpcf7-list-item-label {
            &::before {
                border-color: #023E78;
            }
        }
    }
}

// .contact-form_checkbox-text {
.wpcf7-list-item-label {
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 500;

    @include mq(pc) {
        font-size: 16px;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &::before {
        width: 28px;
        height: 28px;
        border-radius: 1px;
        border: 2px solid #3E3E3E;
        transition: all 0.5s;

        @include mq(pc) {
            margin-top: 0;
            width: 32px;
            height: 32px;
        }
    }

    &::after {
        width: 11.607178514138537px;
        height: 6.359131286577761px;
        background: url(../img/contact/check.svg) no-repeat center center / contain;
        left: 8px;
        margin-top: 2px;
        opacity: 0;

        @include mq(pc) {
            margin-top: -0.8px;
            width: 14px;
            height: 14px;
        }
    }

    a {
        margin-inline: 10px 6px;
        // margin-left: 10px;
        font-weight: 700;
        text-decoration: underline;
        transition: all 0.5s;

        &:hover {
            color: #023E78;
        }
    }
}

.contact-form_button {
    margin-top: 41px;
    text-align: center;

    @include mq(pc) {
        margin-top: 44px;
    }
}

.contact-form_submit {
    background-color: #fff;
    border: 1px solid #023E78;
    color: #023E78;
    padding: 20px 10px;
    width: 100%;

    @include mq(pc) {
        max-width: 295px;
        padding-block: 23px;
        font-size: 16px;
    }
}