@use "sass:map";

// ================================================================================
// responsive
// ================================================================================
$breakpoints: (
    1280: "screen and (min-width: 1280px)",
    980: "screen and (min-width: 980px)",
    pc: "screen and (min-width: 768px)",
    sp: "screen and (max-width: 767px)",
);

@mixin mq($breakpoint: pc) {
    @media #{map.get($breakpoints, $breakpoint)} {
        @content;
    }
}


// ================================================================================
// contact-after
// ================================================================================
.contact-page {
    margin-top: 68px;
    margin-bottom: 100px;

    @include mq(pc) {
        margin-top: 78px;
        margin-bottom: 155px;
    }
}

.contact-page_inner {
    padding-inline: 20px;
    margin-inline: auto;

    @include mq(pc) {
        // padding-inline: 7%;
        padding-inline: 40px;
        max-width: calc(1100px + 80px);
        display: flex;
        justify-content: space-between;
    }
}

.contact-page_contents {
    // margin-top: 60px;
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
    // border-radius: 12px;
    // background-color: #EDF3F8;
    // padding: 46px 5.8% 41px;

    @include mq(pc) {
        max-width: 688px;
    }
}

.contact-page_txt{}

.contact-page_link{
    display: block;
    margin-top: 15px;
    color: #023E78;
    text-decoration: underline;

    @include mq(pc) {
        margin-top: 11px;
    }
}
