@use "sass:map";

// ================================================================================
// font
// ================================================================================
$font-family-ja1: "Noto Sans JP", sans-serif;
$font-family-ja2: "Kiwi Maru", sans-serif;
$font-family-en1: "Courgette", sans-serif;
$font-family-en2: "Josefin Sans", sans-serif;
$font-size-pc-base: 16px;
$font-size-sp-base: 14px;
$line-height-base: 160%;


// ================================================================================
// color
// ================================================================================
$font-color: #4A3636;
$main-color: #9ED0E0;
$sub-color-dblue: #67B0C7;
$sub-color-bgray: #CCE1E4;
$sub-color-lblue: #E9F6F8;
$accent-color-red: #CE2073;
$accent-color-yellow: #FFEE56;
$bw-color-blown: #4A3636;
$bw-color-dgray: #ccc;
$bw-color-gray: #f5f5f5;
$bw-color-white: #fff;


// ================================================================================
// responsive
// ================================================================================
$breakpoints: (
    1280: "screen and (min-width: 1280px)",
    980: "screen and (min-width: 980px)",
    pc: "screen and (min-width: 768px)",
    sp: "screen and (max-width: 767px)",
);

@mixin mq($breakpoint: pc) {
    @media #{map.get($breakpoints, $breakpoint)} {
        @content;
    }
}


// ================================================================================
// contents
// ================================================================================
body {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 169%;
    color: #1A1A1A;
    background-color: #fff;

    // @include mq(pc) {
    //     font-size: 16px;
    // }

    &.is-fixed {
        overflow: hidden;
    }
}

.font_fira-sans {
    font-family: "Fira Sans", sans-serif;
    font-style: italic;
}

a {
    text-decoration: none;
    vertical-align: bottom;
}

li {
    list-style: none;
}

.wrapper {
    overflow: hidden;
}

.page-wrap {
    padding-inline: 20px;
    margin-inline: auto;
}

.link-txt {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-skip-ink: none;

    &:hover {
        color: #67B0C7;
    }
}

.sec-ttl {}

.sec-ttl_en {
    font-size: clamp(30px, 13.9vw, 52px);
    font-weight: 500;
    line-height: 1;
    color: #023E78;
    padding-block: 5px;

    @include mq(pc) {
        font-size: clamp(65px, 7.9vw, 99px);
    }
}

.sec-ttl_ja {
    font-size: clamp(16px, 4.3vw, 20px);
    font-weight: 700;
    line-height: 1;
    color: #023E78;
    padding-block: 2px;

    @include mq(pc) {
        font-size: clamp(16px, 1.9vw, 30px);
        padding-block: 7px 0;
    }
}

.view-btn_1 {
    display: flex;
    justify-content: end;
    flex-direction: row;

    &:hover {
        .btn-icon::before {
            left: 27px;

            @include mq(pc) {
                left: 29px;
            }
        }

        .btn-icon::after {
            width: 86px;

            @include mq(pc) {
                width: 117px;
            }
        }
    }

    p {
        font-size: 20px;
        font-weight: 500;
        color: #fff;

        @include mq(pc) {
            padding-top: 7px;
            font-size: 32px;
        }
    }

    .btn-icon {
        position: relative;
        border: 2px solid #FFF400;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 57px;
        margin-top: -10px;

        @include mq(pc) {
            margin-left: 89px;
            width: 53px;
            height: 53px;
            border-width: 3px;
        }

        &::before,
        &::after {
            position: absolute;
            content: "";
            transition: all 0.5s;
        }

        &::before {
            left: 5px;
            bottom: 16px;
            width: 17px;
            height: 2px;
            background-color: #fff;
            transform: rotate(36deg);

            @include mq(pc) {
                left: 7px;
                bottom: 22px;
                width: 17px;
            }
        }

        &::after {
            left: -45px;
            bottom: 12px;
            width: 64px;
            height: 2px;
            background-color: #fff;

            @include mq(pc) {
                left: -73px;
                bottom: 18px;
                width: 95px;
            }
        }
    }
}

.view-btn_2 {
    display: flex;
    justify-content: end;
    flex-direction: row;

    &:hover {
        .btn-icon::before {
            left: 27px;

            @include mq(pc) {
                left: 29px;
            }
        }

        .btn-icon::after {
            width: 86px;

            @include mq(pc) {
                width: 117px;
            }
        }

        // .view-btn_2-arrow-path {
        //     width: 100px;
        // }
    }

    p {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 500;
        color: #023E78;


        @include mq(pc) {
            // padding-top: 7px;
            font-size: 32px;
        }
    }

    // .btn-icon_wrap {
    //     margin-left: 12px;
    //     display: flex;
    //     width: 84.5px;
    //     position: relative;
    // }

    // .view-btn_2-arrow {
    //     // display: inline-block;
    //     position: absolute;
    //     top: 8px;
    //     left: 0;
    //     z-index: 1;
    // }

    // .view-btn_2-arrow-path {
    //     width: 67px;
    //     transition: all 0.5s ease;
    // }

    .btn-icon {
        // border: 2px solid #FFF400;
        position: relative;
        // top: 0;
        // right: 0;
        // content: "";
        // width: 40px;
        // height: 40px;
        background-color: #FFF400;
        // border-radius: 50%;
        // margin-left: 57px;
        // margin-top: -10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 55px;
        margin-top: -1px;

        @include mq(pc) {
            margin-left: 89px;
            width: 53px;
            height: 53px;
            // border-width: 3px;
        }

        &::before,
        &::after {
            position: absolute;
            content: "";
            transition: all 0.5s;
        }

        &::before {
            left: 5px;
            bottom: 20px;
            width: 17px;
            height: 2px;
            background-color: #023E78;
            transform: rotate(36deg);

            @include mq(pc) {
                left: 10px;
                bottom: 30px;
                width: 17px;
            }
        }

        &::after {
            left: -44px;
            bottom: 15px;
            width: 64px;
            height: 2px;
            background-color: #023E78;

            @include mq(pc) {
                left: -70px;
                bottom: 25px;
                width: 96px;
            }
        }
    }
}

.view-btn_3 {
    display: block;
    border: 2px solid #FFF400;
    padding: 26px 9px;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    // width: min(100%, 500px);
    position: relative;
    text-align: center;
    transition: all 0.5s;

    @include mq(pc) {
        padding-block: 33px;
        max-width: 315px;
        border-width: 3px;
    }

    &:hover {
        background-color: #FFF400;

        .view-btn_3-txt {
            color: #1A1A1A;
        }

        .view-btn_3-arrow {
            right: 16px;
        }

        .view-btn_3-arrow-path {
            fill: #1A1A1A;
        }
    }
}

.view-btn_3-txt {
    font-size: 16px;
    font-weight: 500;
    color: #FFF400;

    @include mq(pc) {
        font-size: 24px;
    }
}

.view-btn_3-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    transition: all 0.5s;

    @include mq(pc) {
        right: 30px;
    }
}

.view-btn_3-arrow-path {
    fill: #FFF400;
}

.header-btn1,
.header-btn2 {
    display: block;
    min-width: 176px;
    padding: 22px 31px;
    text-align: center;
    margin-inline: auto;
    transition: all 0.5s;

    span {
        font-family: "Noto Sans JP", sans-serif;
        font-size: 14px;
    }
}

.header-btn1 {
    border: 1px solid #023E78;
    background-color: #fff;

    &:hover {
        background-color: #023E78;

        span {
            color: #fff;
        }
    }

    span {
        color: #023E78;
    }
}

.header-btn2 {
    border: 1px solid #fff;
    background-color: #023E78;

    &:hover {
        background-color: #002A52;
    }

    span {
        color: #fff;
    }
}

.drawer-btn1,
.drawer-btn2 {
    display: block;
    min-width: 295px;
    padding: 21.5px 9px;
    text-align: center;
    margin-inline: auto;
    transition: all 0.5s;

    span {
        font-family: "Noto Sans JP", sans-serif;
        font-size: 16px;
    }
}

.drawer-btn1 {
    border: 1px solid #fff;
    background-color: #023E78;

    &:hover {
        background-color: #002A52;
    }

    span {
        color: #fff;
    }
}

.drawer-btn2 {
    border: 1px solid #fff;
    background-color: #fff;

    &:hover {
        background-color: #023E78;

        span {
            color: #fff;
        }
    }

    span {
        color: #023E78;
    }
}

.hidden-pc {
    display: none;

    @include mq(pc) {
        display: block;
    }
}

.hidden-sp {
    display: block;

    @include mq(pc) {
        display: none;
    }
}

.wpcf7-list-item-label {
    display: contents;
}


// ========================================
// header
// ========================================
.header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: fixed;
    // top: 0;
    // left: 0;
    z-index: 30;

    @include mq(1280) {
        height: 100px;
        // padding-inline: 5.4%;
    }
}

.header-inner {
    display: flex;
    align-items: center;
    height: inherit;
    padding-inline: 5.4%;
    margin-inline: auto;

    @include mq(1280) {
        justify-content: space-between;
        // max-width: calc(1280px - 32px);
        padding-inline: 1.25%;
    }
}

.header-logo {
    a {
        &:hover {
            opacity: 0.8;
        }

        img {
            display: block;
            width: 198px;

            @include mq(1280) {
                width: 280px;
            }
        }
    }
}

.header-nav {
    display: none;

    @include mq(1280) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.header-nav_button {
    &:nth-of-type(n+2) {
        margin-left: 10px;
    }
}

.header-nav_txt {
    margin-right: 30px;
}

.header-nav_links{
    display: flex;
}

.header-nav_link {
    &:nth-child(n+2) {
        margin-left: 13px;
        padding-left: 30px;
        position: relative;

        &::before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            content: "／";
            width: 14px;
            height: 24px;
        }
    }
}

.hamburger {
    display: block;
    margin-left: auto;
    line-height: 0;

    @include mq(1280) {
        display: none;
    }
}

.drawer-icon {
    position: relative;
    width: 27px;
    height: 18px;

    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        width: calc(100% + 20px);
        height: 60px;
    }

    &.is-checked {
        .drawer-icon_bar {
            &:nth-of-type(1) {
                top: 10px;
                transform: rotate(45deg);
            }

            &:nth-of-type(2) {
                display: none;
            }

            &:nth-of-type(3) {
                top: 10px;
                transform: rotate(-45deg);
            }
        }
    }
}

.drawer-icon_bar {
    position: absolute;
    left: 0;
    content: "";
    width: 27px;
    height: 2.25px;
    border-radius: 6px;
    transition: all 0.5s;

    &:nth-of-type(1) {
        top: 1px;
        background-color: #023E78;
    }

    &:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        background-color: #023E78;
    }

    &:nth-of-type(3) {
        bottom: 1px;
        background-color: #023E78;
    }
}


// ========================================
// drawer-menu
// ========================================
.drawer-content {
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 20;
    display: none;
    width: 100%;
    height: calc(100dvh - 60px);
    padding-top: 60px;
    padding-bottom: 60px;
    overflow-y: auto;
    background: #023E78;
}

@include mq(1280) {
    .drawer-content {
        display: none !important;
    }
}
// @media screen and (min-width: 1200px) {
//     .drawer-content {
//         display: none !important;
//     }
// }

.drawer-content_menu {
    width: fit-content;
    margin: auto;
}

.drawer-content_link {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.572;
    color: #fff;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    text-underline-offset: 4px;
    transition: all 0.5s;

    &:hover {
        color: #67b0c7;
        text-decoration-color: #67b0c7;
    }

    &:nth-of-type(n+2) {
        margin-top: 39px;
    }
}

// @media (hover: hover) {
//     .drawer-content_link {
//         text-decoration-line: underline;
//         text-decoration-color: transparent;
//         text-underline-offset: 4px;
//         transition: all 0.5s;
//     }

//     .drawer-content_link:hover {
//         color: #67b0c7;
//         text-decoration-color: #67b0c7;
//     }
// }

.drawer-btn1 {
    margin-top: 37px;
}

.drawer-btn2 {
    margin-top: 30px;
}


// ========================================
// 下層ページのページヘッダー部
// ========================================
.page-header {
    margin-top: 60px;
    position: relative;

    @include mq(1280) {
        margin-top: 100px;
    }
}

.page-header_img {
    height: 100%;
}

.page-header_img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.page-header_ttl-area {
    //   max-width: 165.654296875px;
    //   height: 100%;
    //   display: flex;
    //   align-items: center;
    //   background-color: rgba(2, 62, 120, 0.8);
    //   clip-path: polygon(0 0, 100% 0, 10% 100%, 0 100%);
    //   color: #fff;
    //   padding: 0 4%;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   z-index: 1;
}

.page-header_area_bg {
    content: "";
    width: 44vw;
    // max-width: 165.654296875px;
    height: 100%;
    display: flex;
    align-items: center;
    // background-color: rgba(2, 62, 120, 0.8);
    // clip-path: polygon(0 0, 100% 0, 10% 100%, 0 100%);
    background: url(../img/page-header_bg-sp.png) no-repeat center center / cover;
    background-size: cover;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    @include mq(pc) {
        width: 365.65px;
        background-image: url(../img/page-header_bg-pc.png);
    }
}

.page-header_ttl {
    display: grid;
    gap: 9px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // left: 20px;
    left: 5%;
    z-index: 2;

    @include mq(pc) {
        left: 17.1%;
        gap: 4px;
    }
}

.page-header_ttl-en {
    span {
        display: inline-block;
        background-color: #fff;
        // font-size: 32px;
        font-size: clamp(24px, 8.6vw, 46px);
        font-weight: 500;
        line-height: 100%;
        color: #023E78;
        padding-block: 4px;

        @include mq(pc) {
            font-size: clamp(46px, 4.7vw, 60px);
            padding-block: 5px;
        }
    }
}

.page-header_ttl-ja {
    span {
        display: inline-block;
        background-color: #fff;
        // font-size: 16px;
        font-size: clamp(16px, 4.3vw, 20px);
        font-weight: 700;
        line-height: 100%;
        color: #023E78;
        padding: 4px 0.25px;

        @include mq(pc) {
            font-size: clamp(16px, 5.4vw, 20px);
        }
    }
}


// ========================================
// page-bottom
// ========================================
.breadcrumb {
    color: #888;
    font-size: 12px;
    // margin-top: 10px;
    // margin-bottom: 14px;
    margin: 6px 20px;
    overflow: auto;
    white-space: nowrap;

    @include mq(pc) {
        margin: 6px auto 0 auto;
        padding-inline: 40px;
        max-width: calc(1100px + 80px);
    }
}

// .breadcrumb .home::before {
// 	content: "\f015";
// 	font-family: "Font Awesome 5 Free", sans-serif;
// 	font-weight: 900;
// 	margin-right: 10px;
// }

.breadcrumb a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.breadcrumb a:hover {
    opacity: 0.6;
}

.breadcrumb-arrow {
    margin: 0 5px;
}

.current-item {
    color: #1A1A1A;
}

.breadcrumb i {
    margin-inline: 5px;
}

.fas {
    font-weight: 900;
}

.fa-angle-right {
    &::before {
        content: "＞";
    }
}

// ========================================
// pagenation
// ========================================
.pagination {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    @include mq(pc) {
        margin-top: 58px;
    }
}

.page-box {
    display: flex;
    justify-content: center;
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 1;
    // margin-right: 4px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    background-color: #F8F8F8;
    color: #888;

    @include mq(pc) {
        width: 50px;
        height: 50px;
        // margin-right: 8px;
    }
}

.page-numbers {
    margin-right: 4px;

    @include mq(pc) {
        margin-right: 8px;
    }

    &:nth-last-of-type(2) {
        margin-right: 0;
    }
}

.arrow-next {
    margin-left: 4px;

    @include mq(pc) {
        margin-left: 30px;
    }
}

.page-numbers.current {
    background-color: #023E78;
    color: #fff;
}

.page-next_arrow,
.page-prev_arrow {
    width: 8px;
    height: 14px;

    @include mq(pc) {
        width: 9.423930168151855px;
        height: 16.02597427368164px;
    }
}

.page-next_arrow {
    background: url(../img/pag-next-arrow.svg) no-repeat center center / cover;
}

.page-prev_arrow {
    background: url(../img/pag-prev-arrow.svg) no-repeat center center / cover;
}


// ========================================
// main
// ========================================
#primary {
    width: 100%;

    @include mq(pc) {
        // width: 69%;
        width: calc(100% - clamp(260px, 27.3%, 300px) - 41px);
    }
}


// ========================================
// sidebar
// ========================================
#secondary {
    margin-top: 100px;
    width: 100%;

    @include mq(pc) {
        margin-top: -6px;
        // width: 27.3%;
        width: clamp(260px, 27.3%, 300px);
    }
}

.widget-title {
    font-size: 20px;
    font-weight: 700;
}

.wpost-items {
    margin-top: 24px;

    @include mq(pc) {
        margin-top: 19px;
    }
}

.wpost-item {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &:nth-of-type(n+2) {
        margin-top: 20px;

        @include mq(pc) {
            margin-top: 15px;
        }
    }
}

.wpost-item-img {
    width: 36%;

    @include mq(pc) {
        width: 33%;
        max-width: 100px;
    }

    img {
        height: 24vw;
        object-fit: cover;

        @include mq(pc) {
            height: 7.9vw;
            max-height: 100px;
        }
    }
}

.wpost-item-body {
    width: 60.7%;
    padding-top: 2px;

    @include mq(pc) {
        width: 63.2%;
        padding-top: 4px;
    }
}

.wpost-item-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wpost-item-tag {
    span {
        font-size: 12px;
        color: #E61264;
        border: 1px solid #E61264;
        padding: 4px 9px 0;

        @include mq(pc) {
            font-size: 14px;
            padding-bottom: 4px;
        }
    }
}

.wpost-item-title {
    margin-top: 4px;
    font-weight: 700;
    line-height: 1.2;

    @include mq(pc) {
        margin-top: 9px;
    }
}

.widget_archive {
    margin-top: 60px;

    @include mq(pc) {
        margin-top: 79px;
    }
}

.widget_archive_lists {
    margin-top: 23px;

    @include mq(pc) {
        margin-top: 18px;
    }

    li {
        width: 100%;
        border-top: 1px solid #ddd;
        padding: 15px 40px 17px;
        position: relative;

        @include mq(pc) {
            padding: 17px 39px 16px;
        }

        &::before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            content: "";
            width: 9.423930168151855px;
            height: 16.02597427368164px;
            background: url(../img/category-arrow.svg) no-repeat center center / cover;
        }

        a {
            font-weight: 700;
            letter-spacing: 0.13em;

            @include mq(pc) {
                font-size: 16px;
                letter-spacing: 0;
            }
        }
    }
}


// ========================================
// page-bottom
// ========================================
.page-bottom {
    // margin-top: 100px;
    width: 100%;
    margin-inline: auto;

    @include mq(pc) {
        // margin-top: 0;
        display: flex;
        // max-width: 1280px;
    }
}

.page-bottom_download,
.page-bottom_contact {
    content: "";
    width: 100%;
    height: 265px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    padding: 35px 40px 36px;
    z-index: -1;

    @include mq(pc) {
        width: 50%;
        height: 340px;
        padding-block: 55px;
    }
}

.page-bottom_download {
    background-image: url(../img/front-page/download.png);
    background-color: rgba(0, 82, 162, 0.8);
}

.page-bottom_contact {
    background-image: url(../img/front-page/contact.png);
    background-color: rgba(2, 62, 120, 1);
}

.page-bottom_ttl {
    text-align: center;
    margin-bottom: 40px;

    @include mq(pc) {
        margin-bottom: 42px;
    }

    .sec-ttl_en {
        font-size: 40px;
        color: #fff;

        @include mq(pc) {
            font-size: 60px;
        }
    }

    .sec-ttl_ja {
        color: #fff;
        margin-top: 6px;
        font-size: 16px;

        @include mq(pc) {
            margin-top: 3px;
        }
    }
}



// ========================================
// footer
// ========================================
.footer {
    background-color: #1A1A1A;
    padding: 80px 20px 16px;
    position: relative;

    @include mq(pc) {
        padding-top: 131px;
    }
}

.footer-inner {
    padding-inline: 20px;
}

.footer-logo {
    a {
        &:hover {
            opacity: 0.8;
        }

        img {
            margin: 0 auto;
            display: block;
            width: 280px;

            @include mq(pc) {
                width: 363px;
            }
        }
    }
}

.footer-info {
    margin-top: 31px;
    margin-inline: auto;
    text-align: center;

    @include mq(pc) {
        margin-top: 34px;
    }
}

.footer-info_txt {
    display: inline-block;
    text-align: left;
    color: #fff;
    line-height: 1.72;
}

.copyright {
    margin-top: 35px;
    font-size: 12px;
    color: #fff;
    text-align: center;

    @include mq(pc) {
        margin-top: 76px;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
}

.pagetop {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 24px;
    width: min(calc(40 / 375 * 100%), 40px);

    @include mq(pc) {
        right: 20px;
        bottom: 40px;
    }

    &:hover {
        opacity: 0.8;
    }
}